In [1]:
# for "2. Data Loading"
import pandas as pd

# for "3-1. Feature Generation"
import numpy as np

# for "3-2. Feature Engineering"
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import RobustScaler, StandardScaler

# for "4. Modeling with Pycaret"
from pycaret.regression import *

# for "5. Modeling with CatBoostRegressor"
from catboost import CatBoostRegressor
import optuna
from optuna import Trial
from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

### 1121
추가 사항 석식계 예측에 자기계발 열을 제거하여 학습 진행

### 1122
추가 사항 독립변수 스케일링 진행

### 1124
- 타겟 변수와 상관관계가 낮은 "재택근무자수"열 제거
- 앙상블 개수 변화

### 1125
- 석식계 예측에 중식계 사용

In [2]:
# 데이터 로드
pre_tr = pd.read_csv('data_preprocess/pre_tr_1118.csv',encoding = "cp949")
pre_te = pd.read_csv('data_preprocess/pre_te_1118.csv',encoding = "cp949")
pre_tr = pre_tr.set_index("일자")
pre_te = pre_te.set_index("일자")
today = "1125"

In [3]:
# 데이터 확인
pre_tr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 2016-02-01 to 2021-01-26
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일      1205 non-null   int64
 1   정원수     1205 non-null   int64
 2   휴가자수    1205 non-null   int64
 3   출장자수    1205 non-null   int64
 4   야근자수    1205 non-null   int64
 5   재택근무자수  1205 non-null   float64
 6   조식메뉴    1205 non-null   object
 7   중식메뉴    1205 non-null   object
 8   석식메뉴    1205 non-null   object
 9   중식계     1205 non-null   float64
 10  석식계     1205 non-null   float64
 11  출근자수    1205 non-null   float64
 12  월       1205 non-null   int64
 13  년도      1205 non-null   int64
dtypes: float64(4), int64(7), object(3)
memory usage: 141.2+ KB

조식메뉴, 중식메뉴, 석식메뉴 다 없어도 될거 같은데,,,?
일자도 일단 제외하고 진행

In [4]:
#중식 타겟 데이터
y_lun = pre_tr["중식계"]
# 석식 타겟 데이터
y_din = pre_tr["석식계"]

In [5]:
pre_tr.corr()["중식계"]

요일       -0.731563
정원수      -0.115529
휴가자수     -0.391975
출장자수     -0.512680
야근자수      0.535611
재택근무자수    0.076509
중식계       1.000000
석식계       0.508287
출근자수      0.286810
월        -0.154664
년도       -0.078804
Name: 중식계, dtype: float64

In [6]:
pre_tr.corr()["석식계"]

요일       -0.312112
정원수      -0.173852
휴가자수     -0.316894
출장자수     -0.188164
야근자수      0.571168
재택근무자수   -0.057534
중식계       0.508287
석식계       1.000000
출근자수      0.172373
월        -0.127142
년도       -0.194792
Name: 석식계, dtype: float64

## 중식계 예측

In [7]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train = X_train.drop("재택근무자수",axis = 1)

In [8]:
# minmax scale 활용
from sklearn.preprocessing import StandardScaler
minmax = StandardScaler()
col_na = X_train.loc[:,  "요일":"년도"].columns
col_na
X_train.loc[:, "요일":"년도"] = minmax.fit_transform(
    X_train[col_na])

In [9]:
X_train["중식계"] = pre_tr["중식계"]
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,중식계
일자,,,,,,,,,
2016-02-01,-1.415977,-1.208083,-0.748721,-2.094550,-0.146735,0.202544,-1.306899,-1.431796,1039.0
2016-02-02,-0.709162,-1.208083,-0.748721,-1.565987,0.182349,0.072225,-1.306899,-1.431796,867.0
2016-02-03,-0.002346,-1.208083,-0.707092,-1.405120,-0.662707,-0.001434,-1.306899,-1.431796,1017.0
2016-02-04,0.704469,-1.208083,-0.374061,-0.485881,0.328609,-0.500047,-1.306899,-1.431796,978.0
2016-02-05,1.411285,-1.208083,0.833176,-1.382140,-0.975540,-1.264963,-1.306899,-1.431796,925.0
...,...,...,...,...,...,...,...,...,...
2021-01-20,-0.002346,1.023312,-0.575267,-0.991463,-1.097423,-0.262072,-1.596547,2.056506,1093.0
2021-01-21,0.704469,1.023312,-0.457319,-0.233090,0.763325,-0.318733,-1.596547,2.056506,832.0
2021-01-22,1.411285,1.023312,0.673599,0.157587,-1.109612,-1.066652,-1.596547,2.056506,579.0
2021-01-25,-1.415977,1.023312,-0.353247,-2.025607,1.388992,0.174213,-1.596547,2.056506,1145.0
2021-01-26,-0.709162,1.023312,-0.616896,-1.336178,1.124912,0.021230,-1.596547,2.056506,1015.0

In [10]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '중식계', # 목표 변수는 중식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['중식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [11]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [12]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [13]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
X_test = X_test.drop("재택근무자수",axis = 1)
X_test.loc[:, "요일":"년도"] = minmax.transform(
    X_test[col_na])
display(X_test)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도
일자,,,,,,,,
2021-01-27,-0.002346,1.023312,-0.485071,-1.359159,-1.093361,0.202544,-1.596547,2.056506
2021-01-28,0.704469,1.023312,-0.374061,-0.669729,0.547999,0.072225,-1.596547,2.056506
2021-01-29,1.411285,1.023312,0.777671,0.180568,-1.113675,-0.001434,-1.596547,2.056506
2021-02-01,-1.415977,0.678673,-0.346308,-2.002626,1.072096,-0.500047,-1.306899,2.056506
2021-02-02,-0.709162,0.678673,-0.665463,-1.267235,0.734886,-1.264963,-1.306899,2.056506
2021-02-03,-0.002346,0.678673,-0.686278,-0.968482,-1.093361,-1.644589,-1.306899,2.056506
2021-02-04,0.704469,0.678673,-0.672401,-0.692710,0.820204,-1.752244,-1.306899,2.056506
2021-02-05,1.411285,0.678673,0.076918,0.249511,-1.113675,-0.313067,-1.306899,2.056506
2021-02-08,-1.415977,0.678673,-0.485071,-1.543006,1.689637,-0.409390,-1.306899,2.056506
2021-02-09,-0.709162,0.678673,-0.443443,-1.336178,1.088347,-0.522711,-1.306899,2.056506
2021-02-10,-0.002346,0.678673,2.297125,-2.462246,-1.113675,-0.539709,-1.306899,2.056506
2021-02-15,-1.415977,0.678673,0.139362,-2.531189,2.116228,-0.913668,-1.306899,2.056506
2021-02-16,-0.709162,0.678673,-0.609958,-1.520025,2.197483,-0.347063,-1.306899,2.056506
2021-02-17,-0.002346,0.678673,-0.561391,-1.382140,-1.101486,-0.330065,-1.306899,2.056506
2021-02-18,0.704469,0.678673,-0.519762,0.134606,1.299611,-0.284737,-1.306899,2.056506
2021-02-19,1.411285,0.678673,0.125485,0.617206,-1.109612,-0.460384,-1.306899,2.056506
2021-02-22,-1.415977,0.678673,-0.367123,-1.014444,2.193421,-1.055320,-1.306899,2.056506
2021-02-23,-0.709162,0.678673,-0.575267,-0.945501,2.067475,-2.987443,-1.306899,2.056506
2021-02-24,-0.002346,0.678673,-0.561391,-0.141166,-1.101486,-0.284737,-1.306899,2.056506
2021-02-25,0.704469,0.678673,-0.464257,0.249511,1.263046,-0.148751,-1.306899,2.056506
2021-02-26,1.411285,0.678673,0.715228,0.869997,-1.109612,-0.403724,-1.306899,2.056506
2021-03-02,-0.709162,0.976581,-0.131226,-1.726854,2.059349,0.077891,-1.017252,2.056506
2021-03-03,-0.002346,0.976581,-0.748721,-1.060406,-1.109612,-0.001434,-1.017252,2.056506
2021-03-04,0.704469,0.976581,-0.596082,-0.118185,1.917152,-0.052429,-1.017252,2.056506
2021-03-05,1.411285,0.976581,0.000599,0.364416,-1.105549,-0.233742,-1.017252,2.056506
2021-03-08,-1.415977,0.976581,-0.422628,-1.634930,2.701267,-0.704024,-1.017252,2.056506
2021-03-09,-0.709162,0.976581,-0.568329,-1.634930,2.961284,0.083557,-1.017252,2.056506
2021-03-10,-0.002346,0.976581,-0.603020,-1.290216,-1.109612,-0.058095,-1.017252,2.056506
2021-03-11,0.704469,0.976581,-0.450381,-0.416938,1.360553,-0.024098,-1.017252,2.056506
2021-03-12,1.411285,0.976581,0.576465,-0.026261,-1.113675,-0.199746,-1.017252,2.056506
2021-03-15,-1.415977,0.976581,-0.221422,-2.140512,2.396559,-0.772017,-1.017252,2.056506
2021-03-16,-0.709162,0.976581,-0.582205,-1.497044,1.559628,-0.063761,-1.017252,2.056506
2021-03-17,-0.002346,0.976581,-0.471195,-1.129349,-1.097423,0.055226,-1.017252,2.056506
2021-03-18,0.704469,0.976581,-0.360185,-0.233090,0.998966,-0.109089,-1.017252,2.056506
2021-03-19,1.411285,0.976581,0.659723,0.318454,-1.113675,-0.256406,-1.017252,2.056506
2021-03-22,-1.415977,0.976581,-0.172855,-1.726854,1.758704,-0.647364,-1.017252,2.056506
2021-03-23,-0.709162,0.976581,-0.526700,-0.830596,1.681512,-0.086425,-1.017252,2.056506
2021-03-24,-0.002346,0.976581,-0.492010,-0.164147,-1.113675,-0.216744,-1.017252,2.056506
2021-03-25,0.704469,0.976581,-0.276927,0.433358,0.678007,-0.109089,-1.017252,2.056506
2021-03-26,1.411285,0.976581,1.062135,0.571244,-1.113675,-0.143085,-1.017252,2.056506
2021-03-29,-1.415977,0.976581,-0.256113,-1.451082,1.567754,-0.449052,-1.017252,2.056506
2021-03-30,-0.709162,0.976581,-0.519762,-0.991463,1.425557,-0.029764,-1.017252,2.056506
2021-03-31,-0.002346,0.976581,-0.498948,-0.554824,-1.113675,0.026896,-1.017252,2.056506
2021-04-01,0.704469,0.964899,-0.485071,0.341435,0.487057,-0.046763,-0.727604,2.056506
2021-04-02,1.411285,0.964899,0.812362,0.709130,-1.113675,-0.154418,-0.727604,2.056506
2021-04-05,-1.415977,0.964899,-0.228360,-1.543006,1.746516,-0.522711,-0.727604,2.056506
2021-04-06,-0.709162,0.964899,-0.568329,-1.634930,1.470248,-0.041096,-0.727604,2.056506
2021-04-07,-0.002346,0.964899,-0.429566,-0.623767,-1.109612,-0.131753,-0.727604,2.056506
2021-04-08,0.704469,0.964899,-0.367123,-0.072223,0.954276,-0.454718,-0.727604,2.056506
2021-04-09,1.411285,0.964899,0.701352,0.617206,-1.113675,-0.760685,-0.727604,2.056506

In [14]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
sample = pd.read_csv('sub/sample_submission.csv', encoding = "cp949")
layer1_pred = voting.predict(X_test)
sample['중식계'] = layer1_pred

## 석식계 예측

In [15]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train["중식계"] = pre_tr["중식계"]
X_train = X_train.drop("재택근무자수",axis=1)
X_train.loc[:, "요일":"년도"] = minmax.fit_transform(
    X_train[col_na])
X_train["석식계"] = pre_tr["석식계"]
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,중식계,석식계
일자,,,,,,,,,,
2016-02-01,-1.415977,-1.208083,-0.748721,-2.094550,-0.146735,0.202544,-1.306899,-1.431796,1039.0,331.0
2016-02-02,-0.709162,-1.208083,-0.748721,-1.565987,0.182349,0.072225,-1.306899,-1.431796,867.0,560.0
2016-02-03,-0.002346,-1.208083,-0.707092,-1.405120,-0.662707,-0.001434,-1.306899,-1.431796,1017.0,573.0
2016-02-04,0.704469,-1.208083,-0.374061,-0.485881,0.328609,-0.500047,-1.306899,-1.431796,978.0,525.0
2016-02-05,1.411285,-1.208083,0.833176,-1.382140,-0.975540,-1.264963,-1.306899,-1.431796,925.0,330.0
...,...,...,...,...,...,...,...,...,...,...
2021-01-20,-0.002346,1.023312,-0.575267,-0.991463,-1.097423,-0.262072,-1.596547,2.056506,1093.0,421.0
2021-01-21,0.704469,1.023312,-0.457319,-0.233090,0.763325,-0.318733,-1.596547,2.056506,832.0,353.0
2021-01-22,1.411285,1.023312,0.673599,0.157587,-1.109612,-1.066652,-1.596547,2.056506,579.0,217.0
2021-01-25,-1.415977,1.023312,-0.353247,-2.025607,1.388992,0.174213,-1.596547,2.056506,1145.0,502.0
2021-01-26,-0.709162,1.023312,-0.616896,-1.336178,1.124912,0.021230,-1.596547,2.056506,1015.0,480.0

In [16]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
day_of_dinner0 = X_train.loc[X_train["석식계"] == 0]
display(day_of_dinner0)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,중식계,석식계
일자,,,,,,,,,,
2016-11-30,-0.002346,-0.694044,-0.623834,-0.784634,-1.113675,0.276202,1.299928,-1.431796,1109.0,0.0
2016-12-28,-0.002346,-0.600583,0.056104,-0.370976,-1.113675,-0.290403,1.589576,-1.431796,767.0,0.0
2017-01-25,-0.002346,-0.647314,-0.547515,-0.876558,-1.113675,0.281868,-1.596547,-0.734135,720.0,0.0
2017-02-22,-0.002346,-1.027001,-0.575267,0.249511,-1.113675,-0.341397,-1.306899,-0.734135,1065.0,0.0
2017-03-22,-0.002346,-1.056208,-0.727906,-0.141166,-1.113675,-0.148751,-1.017252,-0.734135,953.0,0.0
2017-04-26,-0.002346,-1.062049,-0.783412,1.444522,-1.113675,-0.500047,-0.727604,-0.734135,835.0,0.0
2017-05-31,-0.002346,-0.997795,-0.797288,0.548263,-1.113675,-0.205412,-0.437957,-0.734135,910.0,0.0
2017-06-28,-0.002346,-0.933540,-0.693216,0.410377,-1.113675,-0.194080,-0.148309,-0.734135,745.0,0.0
2017-07-26,-0.002346,0.182158,0.666661,0.111625,-1.113675,-0.148751,0.141338,-0.734135,797.0,0.0
2017-09-01,1.411285,-0.968588,0.132424,1.421541,-0.930850,-1.151642,0.720633,-0.734135,663.0,0.0
2017-09-27,-0.002346,-0.968588,-0.609958,0.548263,-1.113675,-0.330065,0.720633,-0.734135,1023.0,0.0
2017-09-29,1.411285,-0.968588,0.389135,0.157587,-1.024294,-1.049653,0.720633,-0.734135,760.0,0.0
2017-10-25,-0.002346,-0.951064,-0.575267,1.099807,-1.113675,-0.477382,1.010281,-0.734135,786.0,0.0
2017-11-29,-0.002346,-0.956905,-0.554453,0.456339,-1.113675,-0.341397,1.299928,-0.734135,903.0,0.0
2017-12-27,-0.002346,-0.834237,0.076918,0.318454,-1.113675,-0.704024,1.589576,-0.734135,571.0,0.0
2018-01-31,-0.002346,-0.892650,-0.707092,-0.416938,-1.113675,0.060892,-1.596547,-0.036475,1138.0,0.0
2018-02-14,-0.002346,-0.588900,1.804517,-1.887721,-1.113675,-1.332956,-1.306899,-0.036475,850.0,0.0
2018-02-28,-0.002346,-0.588900,-0.165917,0.847016,-1.113675,-0.398058,-1.306899,-0.036475,786.0,0.0
2018-03-28,-0.002346,-0.548011,-0.783412,0.249511,-1.113675,0.293200,-1.017252,-0.036475,926.0,0.0
2018-04-25,-0.002346,-0.548011,-0.637711,1.007883,-1.113675,-0.012766,-0.727604,-0.036475,851.0,0.0
2018-05-30,-0.002346,-0.507121,-0.540577,0.915959,-1.113675,-0.029764,-0.437957,-0.036475,876.0,0.0
2018-06-27,-0.002346,-0.466232,-0.637711,0.824035,-1.113675,0.111887,-0.148309,-0.036475,957.0,0.0
2018-07-25,-0.002346,-0.606424,0.472393,0.341435,-1.109612,-0.811679,0.141338,-0.036475,760.0,0.0
2018-08-29,-0.002346,1.099250,-0.380999,0.387397,-1.113675,1.528399,0.430986,-0.036475,915.0,0.0
2018-09-19,-0.002346,-0.261785,-0.561391,1.076826,-1.113675,0.185546,0.720633,-0.036475,833.0,0.0
2018-10-31,-0.002346,-0.016448,-0.325494,1.490484,-1.113675,0.128885,1.010281,-0.036475,930.0,0.0
2018-11-28,-0.002346,0.041966,-0.616896,1.306636,-1.109612,0.468848,1.299928,-0.036475,862.0,0.0
2018-12-26,-0.002346,0.223047,0.180991,-0.003280,-1.113675,0.315865,1.589576,-0.036475,695.0,0.0
2019-01-30,-0.002346,1.034995,-0.637711,-0.347995,-1.109612,1.857030,-1.596547,0.661185,679.0,0.0
2019-02-27,-0.002346,-0.010607,-0.401814,0.755092,-1.113675,0.378191,-1.306899,0.661185,944.0,0.0
2019-03-27,-0.002346,0.164634,-0.457319,0.410377,-1.113675,0.678492,-1.017252,0.661185,856.0,0.0
2019-04-24,-0.002346,0.082855,-0.686278,0.732111,-1.113675,0.706822,-0.727604,0.661185,1034.0,0.0
2019-05-29,-0.002346,0.100379,-0.748721,-0.095204,-1.113675,0.978793,-0.437957,0.661185,896.0,0.0
2019-06-26,-0.002346,-0.290991,-0.616896,0.938940,-1.113675,0.236540,-0.148309,0.661185,946.0,0.0
2019-07-31,-0.002346,-0.279309,2.338754,-0.233090,-1.113675,-1.876897,0.141338,0.661185,619.0,0.0
2019-08-28,-0.002346,2.904227,-0.242236,0.755092,-1.113675,3.075231,0.430986,0.661185,899.0,0.0
2019-09-25,-0.002346,1.771005,-0.679339,1.007883,-1.109612,2.270652,0.720633,0.661185,803.0,0.0
2019-10-30,-0.002346,1.829418,-0.249174,1.214712,-1.109612,1.925023,1.010281,0.661185,771.0,0.0
2019-11-27,-0.002346,1.730116,-0.165917,1.076826,-1.109612,1.794704,1.299928,0.661185,732.0,0.0
2019-12-31,-0.709162,1.771005,3.823517,-2.117531,-1.024294,-0.636032,1.589576,0.661185,349.0,0.0
2020-01-29,-0.002346,0.077014,-0.394875,-0.623767,-1.097423,0.797479,-1.596547,1.358845,1197.0,0.0
2020-02-26,-0.002346,0.374923,-0.339370,-1.175311,-1.097423,1.177104,-1.306899,1.358845,1105.0,0.0
2020-11-25,-0.002346,1.245284,0.333630,-1.152330,-1.101486,-0.726689,1.299928,1.358845,1146.0,0.0

In [17]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
X_train = X_train.drop(day_of_dinner0.index,axis=0)
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,중식계,석식계
일자,,,,,,,,,,
2016-02-01,-1.415977,-1.208083,-0.748721,-2.094550,-0.146735,0.202544,-1.306899,-1.431796,1039.0,331.0
2016-02-02,-0.709162,-1.208083,-0.748721,-1.565987,0.182349,0.072225,-1.306899,-1.431796,867.0,560.0
2016-02-03,-0.002346,-1.208083,-0.707092,-1.405120,-0.662707,-0.001434,-1.306899,-1.431796,1017.0,573.0
2016-02-04,0.704469,-1.208083,-0.374061,-0.485881,0.328609,-0.500047,-1.306899,-1.431796,978.0,525.0
2016-02-05,1.411285,-1.208083,0.833176,-1.382140,-0.975540,-1.264963,-1.306899,-1.431796,925.0,330.0
...,...,...,...,...,...,...,...,...,...,...
2021-01-20,-0.002346,1.023312,-0.575267,-0.991463,-1.097423,-0.262072,-1.596547,2.056506,1093.0,421.0
2021-01-21,0.704469,1.023312,-0.457319,-0.233090,0.763325,-0.318733,-1.596547,2.056506,832.0,353.0
2021-01-22,1.411285,1.023312,0.673599,0.157587,-1.109612,-1.066652,-1.596547,2.056506,579.0,217.0
2021-01-25,-1.415977,1.023312,-0.353247,-2.025607,1.388992,0.174213,-1.596547,2.056506,1145.0,502.0
2021-01-26,-0.709162,1.023312,-0.616896,-1.336178,1.124912,0.021230,-1.596547,2.056506,1015.0,480.0

In [18]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '석식계', # 목표 변수는 석식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['석식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [19]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [20]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [53]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
X_test = X_test.reset_index()
X_test.중식계 = sample.중식계
X_test = X_test.set_index("일자")
X_test = X_test.drop("재택근무자수",axis = 1)
X_test.loc[:,  "요일":"년도"] = minmax.transform(
    X_test[col_na])
display(X_test)
today = "1125"

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,중식계
일자,,,,,,,,,
2021-01-27,-0.002346,1.023312,-0.485071,-1.359159,-1.093361,0.202544,-1.596547,2.056506,1016.516032
2021-01-28,0.704469,1.023312,-0.374061,-0.669729,0.547999,0.072225,-1.596547,2.056506,917.042004
2021-01-29,1.411285,1.023312,0.777671,0.180568,-1.113675,-0.001434,-1.596547,2.056506,611.244667
2021-02-01,-1.415977,0.678673,-0.346308,-2.002626,1.072096,-0.500047,-1.306899,2.056506,1203.020576
2021-02-02,-0.709162,0.678673,-0.665463,-1.267235,0.734886,-1.264963,-1.306899,2.056506,968.102977
2021-02-03,-0.002346,0.678673,-0.686278,-0.968482,-1.093361,-1.644589,-1.306899,2.056506,946.674423
2021-02-04,0.704469,0.678673,-0.672401,-0.692710,0.820204,-1.752244,-1.306899,2.056506,894.213281
2021-02-05,1.411285,0.678673,0.076918,0.249511,-1.113675,-0.313067,-1.306899,2.056506,657.203636
2021-02-08,-1.415977,0.678673,-0.485071,-1.543006,1.689637,-0.409390,-1.306899,2.056506,1220.794044
2021-02-09,-0.709162,0.678673,-0.443443,-1.336178,1.088347,-0.522711,-1.306899,2.056506,1022.139012
2021-02-10,-0.002346,0.678673,2.297125,-2.462246,-1.113675,-0.539709,-1.306899,2.056506,791.317602
2021-02-15,-1.415977,0.678673,0.139362,-2.531189,2.116228,-0.913668,-1.306899,2.056506,1214.400134
2021-02-16,-0.709162,0.678673,-0.609958,-1.520025,2.197483,-0.347063,-1.306899,2.056506,1088.349831
2021-02-17,-0.002346,0.678673,-0.561391,-1.382140,-1.101486,-0.330065,-1.306899,2.056506,1038.827725
2021-02-18,0.704469,0.678673,-0.519762,0.134606,1.299611,-0.284737,-1.306899,2.056506,859.343613
2021-02-19,1.411285,0.678673,0.125485,0.617206,-1.109612,-0.460384,-1.306899,2.056506,636.065784
2021-02-22,-1.415977,0.678673,-0.367123,-1.014444,2.193421,-1.055320,-1.306899,2.056506,1192.120038
2021-02-23,-0.709162,0.678673,-0.575267,-0.945501,2.067475,-2.987443,-1.306899,2.056506,1002.575259
2021-02-24,-0.002346,0.678673,-0.561391,-0.141166,-1.101486,-0.284737,-1.306899,2.056506,884.875561
2021-02-25,0.704469,0.678673,-0.464257,0.249511,1.263046,-0.148751,-1.306899,2.056506,849.167903
2021-02-26,1.411285,0.678673,0.715228,0.869997,-1.109612,-0.403724,-1.306899,2.056506,595.643524
2021-03-02,-0.709162,0.976581,-0.131226,-1.726854,2.059349,0.077891,-1.017252,2.056506,1076.380377
2021-03-03,-0.002346,0.976581,-0.748721,-1.060406,-1.109612,-0.001434,-1.017252,2.056506,1000.621726
2021-03-04,0.704469,0.976581,-0.596082,-0.118185,1.917152,-0.052429,-1.017252,2.056506,918.252758
2021-03-05,1.411285,0.976581,0.000599,0.364416,-1.105549,-0.233742,-1.017252,2.056506,653.057077
2021-03-08,-1.415977,0.976581,-0.422628,-1.634930,2.701267,-0.704024,-1.017252,2.056506,1261.797048
2021-03-09,-0.709162,0.976581,-0.568329,-1.634930,2.961284,0.083557,-1.017252,2.056506,1149.711282
2021-03-10,-0.002346,0.976581,-0.603020,-1.290216,-1.109612,-0.058095,-1.017252,2.056506,1033.624384
2021-03-11,0.704469,0.976581,-0.450381,-0.416938,1.360553,-0.024098,-1.017252,2.056506,924.468091
2021-03-12,1.411285,0.976581,0.576465,-0.026261,-1.113675,-0.199746,-1.017252,2.056506,674.384487
2021-03-15,-1.415977,0.976581,-0.221422,-2.140512,2.396559,-0.772017,-1.017252,2.056506,1230.378841
2021-03-16,-0.709162,0.976581,-0.582205,-1.497044,1.559628,-0.063761,-1.017252,2.056506,1025.386357
2021-03-17,-0.002346,0.976581,-0.471195,-1.129349,-1.097423,0.055226,-1.017252,2.056506,1047.930016
2021-03-18,0.704469,0.976581,-0.360185,-0.233090,0.998966,-0.109089,-1.017252,2.056506,900.670144
2021-03-19,1.411285,0.976581,0.659723,0.318454,-1.113675,-0.256406,-1.017252,2.056506,635.837958
2021-03-22,-1.415977,0.976581,-0.172855,-1.726854,1.758704,-0.647364,-1.017252,2.056506,1219.211928
2021-03-23,-0.709162,0.976581,-0.526700,-0.830596,1.681512,-0.086425,-1.017252,2.056506,1000.115694
2021-03-24,-0.002346,0.976581,-0.492010,-0.164147,-1.113675,-0.216744,-1.017252,2.056506,895.719413
2021-03-25,0.704469,0.976581,-0.276927,0.433358,0.678007,-0.109089,-1.017252,2.056506,824.500604
2021-03-26,1.411285,0.976581,1.062135,0.571244,-1.113675,-0.143085,-1.017252,2.056506,612.917125
2021-03-29,-1.415977,0.976581,-0.256113,-1.451082,1.567754,-0.449052,-1.017252,2.056506,1201.938954
2021-03-30,-0.709162,0.976581,-0.519762,-0.991463,1.425557,-0.029764,-1.017252,2.056506,1019.271607
2021-03-31,-0.002346,0.976581,-0.498948,-0.554824,-1.113675,0.026896,-1.017252,2.056506,948.564772
2021-04-01,0.704469,0.964899,-0.485071,0.341435,0.487057,-0.046763,-0.727604,2.056506,793.311122
2021-04-02,1.411285,0.964899,0.812362,0.709130,-1.113675,-0.154418,-0.727604,2.056506,605.880760
2021-04-05,-1.415977,0.964899,-0.228360,-1.543006,1.746516,-0.522711,-0.727604,2.056506,1179.263396
2021-04-06,-0.709162,0.964899,-0.568329,-1.634930,1.470248,-0.041096,-0.727604,2.056506,994.832205
2021-04-07,-0.002346,0.964899,-0.429566,-0.623767,-1.109612,-0.131753,-0.727604,2.056506,955.127697
2021-04-08,0.704469,0.964899,-0.367123,-0.072223,0.954276,-0.454718,-0.727604,2.056506,846.947742
2021-04-09,1.411285,0.964899,0.701352,0.617206,-1.113675,-0.760685,-0.727604,2.056506,609.793906

In [54]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
layer1_pred = voting.predict(X_test)
sample['석식계'] = layer1_pred

In [55]:
sample

            일자          중식계         석식계
0   2021-01-27  1016.516032  388.456720
1   2021-01-28   917.042004  394.979188
2   2021-01-29   611.244667  297.533082
3   2021-02-01  1203.020576  531.964796
4   2021-02-02   968.102977  436.062651
5   2021-02-03   946.674423  423.441048
6   2021-02-04   894.213281  440.865735
7   2021-02-05   657.203636  363.579902
8   2021-02-08  1220.794044  599.656496
9   2021-02-09  1022.139012  530.293240
10  2021-02-10   791.317602  256.578973
11  2021-02-15  1214.400134  664.926966
12  2021-02-16  1088.349831  622.006365
13  2021-02-17  1038.827725  438.164420
14  2021-02-18   859.343613  507.380445
15  2021-02-19   636.065784  358.375665
16  2021-02-22  1192.120038  628.394570
17  2021-02-23  1002.575259  577.942775
18  2021-02-24   884.875561  392.133918
19  2021-02-25   849.167903  500.661282
20  2021-02-26   595.643524  302.730895
21  2021-03-02  1076.380377  642.010538
22  2021-03-03  1000.621726  461.566655
23  2021-03-04   918.252758  510.319840
24  2021-03-05   653.057077  363.120434
25  2021-03-08  1261.797048  689.183772
26  2021-03-09  1149.711282  662.151337
27  2021-03-10  1033.624384  449.438554
28  2021-03-11   924.468091  517.638931
29  2021-03-12   674.384487  319.042096
30  2021-03-15  1230.378841  659.301347
31  2021-03-16  1025.386357  583.854118
32  2021-03-17  1047.930016  453.749783
33  2021-03-18   900.670144  454.807296
34  2021-03-19   635.837958  310.199170
35  2021-03-22  1219.211928  604.691460
36  2021-03-23  1000.115694  572.851367
37  2021-03-24   895.719413  379.101235
38  2021-03-25   824.500604  410.260973
39  2021-03-26   612.917125  302.197936
40  2021-03-29  1201.938954  606.794167
41  2021-03-30  1019.271607  576.432675
42  2021-03-31   948.564772  427.609137
43  2021-04-01   793.311122  412.589859
44  2021-04-02   605.880760  291.886272
45  2021-04-05  1179.263396  593.070787
46  2021-04-06   994.832205  564.197225
47  2021-04-07   955.127697  414.095576
48  2021-04-08   846.947742  422.341893
49  2021-04-09   609.793906  285.629585

In [56]:
sample.to_csv('sub/Model_Cat_{}.csv'.format(today), index=False)