In [1]:
# for "2. Data Loading"
import pandas as pd

# for "3-1. Feature Generation"
import numpy as np

# for "3-2. Feature Engineering"
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import RobustScaler, StandardScaler

# for "4. Modeling with Pycaret"
from pycaret.regression import *

# for "5. Modeling with CatBoostRegressor"
from catboost import CatBoostRegressor
import optuna
from optuna import Trial
from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

### 1121
추가 사항 석식계 예측에 자기계발 열을 제거하여 학습 진행

### 1122
추가 사항 독립변수 스케일링 진행

### 1124
- 타겟 변수와 상관관계가 낮은 "재택근무자수"열 제거
- 앙상블 개수 변화

In [2]:
# 데이터 로드
pre_tr = pd.read_csv('data_preprocess/pre_tr_1118.csv',encoding = "cp949")
pre_te = pd.read_csv('data_preprocess/pre_te_1118.csv',encoding = "cp949")
pre_tr = pre_tr.set_index("일자")
pre_te = pre_te.set_index("일자")
today = "1124"

In [3]:
# 데이터 확인
pre_tr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 2016-02-01 to 2021-01-26
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일      1205 non-null   int64
 1   정원수     1205 non-null   int64
 2   휴가자수    1205 non-null   int64
 3   출장자수    1205 non-null   int64
 4   야근자수    1205 non-null   int64
 5   재택근무자수  1205 non-null   float64
 6   조식메뉴    1205 non-null   object
 7   중식메뉴    1205 non-null   object
 8   석식메뉴    1205 non-null   object
 9   중식계     1205 non-null   float64
 10  석식계     1205 non-null   float64
 11  출근자수    1205 non-null   float64
 12  월       1205 non-null   int64
 13  년도      1205 non-null   int64
dtypes: float64(4), int64(7), object(3)
memory usage: 141.2+ KB

조식메뉴, 중식메뉴, 석식메뉴 다 없어도 될거 같은데,,,?
일자도 일단 제외하고 진행

In [4]:
#중식 타겟 데이터
y_lun = pre_tr["중식계"]
# 석식 타겟 데이터
y_din = pre_tr["석식계"]

In [5]:
pre_tr.corr()["중식계"]

요일       -0.731563
정원수      -0.115529
휴가자수     -0.391975
출장자수     -0.512680
야근자수      0.535611
재택근무자수    0.076509
중식계       1.000000
석식계       0.508287
출근자수      0.286810
월        -0.154664
년도       -0.078804
Name: 중식계, dtype: float64

In [6]:
pre_tr.corr()["석식계"]

요일       -0.312112
정원수      -0.173852
휴가자수     -0.316894
출장자수     -0.188164
야근자수      0.571168
재택근무자수   -0.057534
중식계       0.508287
석식계       1.000000
출근자수      0.172373
월        -0.127142
년도       -0.194792
Name: 석식계, dtype: float64

## 중식계 예측

In [7]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train = X_train.drop("재택근무자수",axis = 1)

In [8]:
# minmax scale 활용
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
col_na = X_train.loc[:,  "요일":"년도"].columns
col_na
X_train.loc[:, "요일":"년도"] = minmax.fit_transform(
    X_train[col_na])

In [9]:
X_train["중식계"] = pre_tr["중식계"]
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,중식계
일자,,,,,,,,,
2016-02-01,0.00,0.000000,0.022481,0.323442,0.227969,0.664300,0.090909,0.0,1039.0
2016-02-02,0.25,0.000000,0.022481,0.391691,0.305556,0.649451,0.090909,0.0,867.0
2016-02-03,0.50,0.000000,0.027477,0.412463,0.106322,0.641059,0.090909,0.0,1017.0
2016-02-04,0.75,0.000000,0.067444,0.531157,0.340038,0.584248,0.090909,0.0,978.0
2016-02-05,1.00,0.000000,0.212323,0.415430,0.032567,0.497095,0.090909,0.0,925.0
...,...,...,...,...,...,...,...,...,...
2021-01-20,0.50,0.542614,0.043297,0.465875,0.003831,0.611362,0.000000,1.0,1093.0
2021-01-21,0.75,0.542614,0.057452,0.563798,0.442529,0.604906,0.000000,1.0,832.0
2021-01-22,1.00,0.542614,0.193172,0.614243,0.000958,0.519690,0.000000,1.0,579.0
2021-01-25,0.00,0.542614,0.069942,0.332344,0.590038,0.661072,0.000000,1.0,1145.0
2021-01-26,0.25,0.542614,0.038301,0.421365,0.527778,0.643641,0.000000,1.0,1015.0

In [10]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '중식계', # 목표 변수는 중식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['중식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [11]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [12]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [13]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
X_test = X_test.drop("재택근무자수",axis = 1)
X_test.loc[:, "요일":"년도"] = minmax.transform(
    X_test[col_na])
display(X_test)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도
일자,,,,,,,,
2021-01-27,0.50,0.542614,0.054122,0.418398,0.004789,0.664300,0.000000,1.0
2021-01-28,0.75,0.542614,0.067444,0.507418,0.391762,0.649451,0.000000,1.0
2021-01-29,1.00,0.542614,0.205662,0.617211,0.000000,0.641059,0.000000,1.0
2021-02-01,0.00,0.458807,0.070774,0.335312,0.515326,0.584248,0.090909,1.0
2021-02-02,0.25,0.458807,0.032473,0.430267,0.435824,0.497095,0.090909,1.0
2021-02-03,0.50,0.458807,0.029975,0.468843,0.004789,0.453841,0.090909,1.0
2021-02-04,0.75,0.458807,0.031640,0.504451,0.455939,0.441575,0.090909,1.0
2021-02-05,1.00,0.458807,0.121565,0.626113,0.000000,0.605552,0.090909,1.0
2021-02-08,0.00,0.458807,0.054122,0.394659,0.660920,0.594577,0.090909,1.0
2021-02-09,0.25,0.458807,0.059117,0.421365,0.519157,0.581666,0.090909,1.0
2021-02-10,0.50,0.458807,0.388010,0.275964,0.000000,0.579729,0.090909,1.0
2021-02-15,0.00,0.458807,0.129059,0.267062,0.761494,0.537121,0.090909,1.0
2021-02-16,0.25,0.458807,0.039134,0.397626,0.780651,0.601679,0.090909,1.0
2021-02-17,0.50,0.458807,0.044963,0.415430,0.002874,0.603615,0.090909,1.0
2021-02-18,0.75,0.458807,0.049958,0.611276,0.568966,0.608780,0.090909,1.0
2021-02-19,1.00,0.458807,0.127394,0.673591,0.000958,0.588767,0.090909,1.0
2021-02-22,0.00,0.458807,0.068276,0.462908,0.779693,0.520981,0.090909,1.0
2021-02-23,0.25,0.458807,0.043297,0.471810,0.750000,0.300839,0.090909,1.0
2021-02-24,0.50,0.458807,0.044963,0.575668,0.002874,0.608780,0.090909,1.0
2021-02-25,0.75,0.458807,0.056619,0.626113,0.560345,0.624274,0.090909,1.0
2021-02-26,1.00,0.458807,0.198168,0.706231,0.000958,0.595223,0.090909,1.0
2021-03-02,0.25,0.531250,0.096586,0.370920,0.748084,0.650097,0.181818,1.0
2021-03-03,0.50,0.531250,0.022481,0.456973,0.000958,0.641059,0.181818,1.0
2021-03-04,0.75,0.531250,0.040799,0.578635,0.714559,0.635249,0.181818,1.0
2021-03-05,1.00,0.531250,0.112406,0.640950,0.001916,0.614590,0.181818,1.0
2021-03-08,0.00,0.531250,0.061615,0.382789,0.899425,0.561007,0.181818,1.0
2021-03-09,0.25,0.531250,0.044130,0.382789,0.960728,0.650742,0.181818,1.0
2021-03-10,0.50,0.531250,0.039967,0.427300,0.000958,0.634603,0.181818,1.0
2021-03-11,0.75,0.531250,0.058285,0.540059,0.583333,0.638476,0.181818,1.0
2021-03-12,1.00,0.531250,0.181515,0.590504,0.000000,0.618464,0.181818,1.0
2021-03-15,0.00,0.531250,0.085762,0.317507,0.827586,0.553260,0.181818,1.0
2021-03-16,0.25,0.531250,0.042465,0.400593,0.630268,0.633957,0.181818,1.0
2021-03-17,0.50,0.531250,0.055787,0.448071,0.003831,0.647515,0.181818,1.0
2021-03-18,0.75,0.531250,0.069109,0.563798,0.498084,0.628793,0.181818,1.0
2021-03-19,1.00,0.531250,0.191507,0.635015,0.000000,0.612008,0.181818,1.0
2021-03-22,0.00,0.531250,0.091590,0.370920,0.677203,0.567463,0.181818,1.0
2021-03-23,0.25,0.531250,0.049126,0.486647,0.659004,0.631375,0.181818,1.0
2021-03-24,0.50,0.531250,0.053289,0.572700,0.000000,0.616527,0.181818,1.0
2021-03-25,0.75,0.531250,0.079101,0.649852,0.422414,0.628793,0.181818,1.0
2021-03-26,1.00,0.531250,0.239800,0.667656,0.000000,0.624919,0.181818,1.0
2021-03-29,0.00,0.531250,0.081599,0.406528,0.632184,0.590058,0.181818,1.0
2021-03-30,0.25,0.531250,0.049958,0.465875,0.598659,0.637831,0.181818,1.0
2021-03-31,0.50,0.531250,0.052456,0.522255,0.000000,0.644287,0.181818,1.0
2021-04-01,0.75,0.528409,0.054122,0.637982,0.377395,0.635894,0.272727,1.0
2021-04-02,1.00,0.528409,0.209825,0.685460,0.000000,0.623628,0.272727,1.0
2021-04-05,0.00,0.528409,0.084929,0.394659,0.674330,0.581666,0.272727,1.0
2021-04-06,0.25,0.528409,0.044130,0.382789,0.609195,0.636540,0.272727,1.0
2021-04-07,0.50,0.528409,0.060783,0.513353,0.000958,0.626210,0.272727,1.0
2021-04-08,0.75,0.528409,0.068276,0.584570,0.487548,0.589413,0.272727,1.0
2021-04-09,1.00,0.528409,0.196503,0.673591,0.000000,0.554551,0.272727,1.0

In [14]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
sample = pd.read_csv('sub/sample_submission.csv', encoding = "cp949")
layer1_pred = voting.predict(X_test)
sample['중식계'] = layer1_pred

## 석식계 예측

In [15]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train = X_train.drop("재택근무자수",axis=1)
X_train.loc[:, "요일":"년도"] = minmax.fit_transform(
    X_train[col_na])
X_train["석식계"] = pre_tr["석식계"]
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,석식계
일자,,,,,,,,,
2016-02-01,0.00,0.000000,0.022481,0.323442,0.227969,0.664300,0.090909,0.0,331.0
2016-02-02,0.25,0.000000,0.022481,0.391691,0.305556,0.649451,0.090909,0.0,560.0
2016-02-03,0.50,0.000000,0.027477,0.412463,0.106322,0.641059,0.090909,0.0,573.0
2016-02-04,0.75,0.000000,0.067444,0.531157,0.340038,0.584248,0.090909,0.0,525.0
2016-02-05,1.00,0.000000,0.212323,0.415430,0.032567,0.497095,0.090909,0.0,330.0
...,...,...,...,...,...,...,...,...,...
2021-01-20,0.50,0.542614,0.043297,0.465875,0.003831,0.611362,0.000000,1.0,421.0
2021-01-21,0.75,0.542614,0.057452,0.563798,0.442529,0.604906,0.000000,1.0,353.0
2021-01-22,1.00,0.542614,0.193172,0.614243,0.000958,0.519690,0.000000,1.0,217.0
2021-01-25,0.00,0.542614,0.069942,0.332344,0.590038,0.661072,0.000000,1.0,502.0
2021-01-26,0.25,0.542614,0.038301,0.421365,0.527778,0.643641,0.000000,1.0,480.0

In [16]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
day_of_dinner0 = X_train.loc[X_train["석식계"] == 0]
display(day_of_dinner0)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,석식계
일자,,,,,,,,,
2016-11-30,0.50,0.125000,0.037469,0.492582,0.000000,0.672692,0.909091,0.0,0.0
2016-12-28,0.50,0.147727,0.119067,0.545994,0.000000,0.608134,1.000000,0.0,0.0
2017-01-25,0.50,0.136364,0.046628,0.480712,0.000000,0.673338,0.000000,0.2,0.0
2017-02-22,0.50,0.044034,0.043297,0.626113,0.000000,0.602324,0.090909,0.2,0.0
2017-03-22,0.50,0.036932,0.024979,0.575668,0.000000,0.624274,0.181818,0.2,0.0
2017-04-26,0.50,0.035511,0.018318,0.780415,0.000000,0.584248,0.272727,0.2,0.0
2017-05-31,0.50,0.051136,0.016653,0.664688,0.000000,0.617818,0.363636,0.2,0.0
2017-06-28,0.50,0.066761,0.029142,0.646884,0.000000,0.619109,0.454545,0.2,0.0
2017-07-26,0.50,0.338068,0.192340,0.608309,0.000000,0.624274,0.545455,0.2,0.0
2017-09-01,1.00,0.058239,0.128226,0.777448,0.043103,0.510006,0.727273,0.2,0.0
2017-09-27,0.50,0.058239,0.039134,0.664688,0.000000,0.603615,0.727273,0.2,0.0
2017-09-29,1.00,0.058239,0.159034,0.614243,0.021073,0.521627,0.727273,0.2,0.0
2017-10-25,0.50,0.062500,0.043297,0.735905,0.000000,0.586830,0.818182,0.2,0.0
2017-11-29,0.50,0.061080,0.045795,0.652819,0.000000,0.602324,0.909091,0.2,0.0
2017-12-27,0.50,0.090909,0.121565,0.635015,0.000000,0.561007,1.000000,0.2,0.0
2018-01-31,0.50,0.076705,0.027477,0.540059,0.000000,0.648160,0.000000,0.4,0.0
2018-02-14,0.50,0.150568,0.328893,0.350148,0.000000,0.489348,0.090909,0.4,0.0
2018-02-28,0.50,0.150568,0.092423,0.703264,0.000000,0.595868,0.090909,0.4,0.0
2018-03-28,0.50,0.160511,0.018318,0.626113,0.000000,0.674629,0.181818,0.4,0.0
2018-04-25,0.50,0.160511,0.035803,0.724036,0.000000,0.639768,0.272727,0.4,0.0
2018-05-30,0.50,0.170455,0.047460,0.712166,0.000000,0.637831,0.363636,0.4,0.0
2018-06-27,0.50,0.180398,0.035803,0.700297,0.000000,0.653970,0.454545,0.4,0.0
2018-07-25,0.50,0.146307,0.169026,0.637982,0.000958,0.548741,0.545455,0.4,0.0
2018-08-29,0.50,0.561080,0.066611,0.643917,0.000000,0.815365,0.636364,0.4,0.0
2018-09-19,0.50,0.230114,0.044963,0.732938,0.000000,0.662363,0.727273,0.4,0.0
2018-10-31,0.50,0.289773,0.073272,0.786350,0.000000,0.655907,0.818182,0.4,0.0
2018-11-28,0.50,0.303977,0.038301,0.762611,0.000958,0.694642,0.909091,0.4,0.0
2018-12-26,0.50,0.348011,0.134055,0.593472,0.000000,0.677211,1.000000,0.4,0.0
2019-01-30,0.50,0.545455,0.035803,0.548961,0.000958,0.852808,0.000000,0.6,0.0
2019-02-27,0.50,0.291193,0.064113,0.691395,0.000000,0.684312,0.090909,0.6,0.0
2019-03-27,0.50,0.333807,0.057452,0.646884,0.000000,0.718528,0.181818,0.6,0.0
2019-04-24,0.50,0.313920,0.029975,0.688427,0.000000,0.721756,0.272727,0.6,0.0
2019-05-29,0.50,0.318182,0.022481,0.581602,0.000000,0.752744,0.363636,0.6,0.0
2019-06-26,0.50,0.223011,0.038301,0.715134,0.000000,0.668173,0.454545,0.6,0.0
2019-07-31,0.50,0.225852,0.393006,0.563798,0.000000,0.427372,0.545455,0.6,0.0
2019-08-28,0.50,1.000000,0.083264,0.691395,0.000000,0.991607,0.636364,0.6,0.0
2019-09-25,0.50,0.724432,0.030808,0.724036,0.000958,0.899935,0.727273,0.6,0.0
2019-10-30,0.50,0.738636,0.082431,0.750742,0.000958,0.860555,0.818182,0.6,0.0
2019-11-27,0.50,0.714489,0.092423,0.732938,0.000958,0.845707,0.909091,0.6,0.0
2019-12-31,0.25,0.724432,0.571191,0.320475,0.021073,0.568754,1.000000,0.6,0.0
2020-01-29,0.50,0.312500,0.064946,0.513353,0.003831,0.732085,0.000000,0.8,0.0
2020-02-26,0.50,0.384943,0.071607,0.442136,0.003831,0.775339,0.090909,0.8,0.0
2020-11-25,0.50,0.596591,0.152373,0.445104,0.002874,0.558425,0.909091,0.8,0.0

In [17]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
X_train = X_train.drop(day_of_dinner0.index,axis=0)
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도,석식계
일자,,,,,,,,,
2016-02-01,0.00,0.000000,0.022481,0.323442,0.227969,0.664300,0.090909,0.0,331.0
2016-02-02,0.25,0.000000,0.022481,0.391691,0.305556,0.649451,0.090909,0.0,560.0
2016-02-03,0.50,0.000000,0.027477,0.412463,0.106322,0.641059,0.090909,0.0,573.0
2016-02-04,0.75,0.000000,0.067444,0.531157,0.340038,0.584248,0.090909,0.0,525.0
2016-02-05,1.00,0.000000,0.212323,0.415430,0.032567,0.497095,0.090909,0.0,330.0
...,...,...,...,...,...,...,...,...,...
2021-01-20,0.50,0.542614,0.043297,0.465875,0.003831,0.611362,0.000000,1.0,421.0
2021-01-21,0.75,0.542614,0.057452,0.563798,0.442529,0.604906,0.000000,1.0,353.0
2021-01-22,1.00,0.542614,0.193172,0.614243,0.000958,0.519690,0.000000,1.0,217.0
2021-01-25,0.00,0.542614,0.069942,0.332344,0.590038,0.661072,0.000000,1.0,502.0
2021-01-26,0.25,0.542614,0.038301,0.421365,0.527778,0.643641,0.000000,1.0,480.0

In [18]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '석식계', # 목표 변수는 석식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['석식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [19]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [20]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [21]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
X_test = X_test.drop("재택근무자수",axis = 1)
X_test.loc[:,  "요일":"년도"] = minmax.transform(
    X_test[col_na])
display(X_test)

,요일,정원수,휴가자수,출장자수,야근자수,출근자수,월,년도
일자,,,,,,,,
2021-01-27,0.50,0.542614,0.054122,0.418398,0.004789,0.664300,0.000000,1.0
2021-01-28,0.75,0.542614,0.067444,0.507418,0.391762,0.649451,0.000000,1.0
2021-01-29,1.00,0.542614,0.205662,0.617211,0.000000,0.641059,0.000000,1.0
2021-02-01,0.00,0.458807,0.070774,0.335312,0.515326,0.584248,0.090909,1.0
2021-02-02,0.25,0.458807,0.032473,0.430267,0.435824,0.497095,0.090909,1.0
2021-02-03,0.50,0.458807,0.029975,0.468843,0.004789,0.453841,0.090909,1.0
2021-02-04,0.75,0.458807,0.031640,0.504451,0.455939,0.441575,0.090909,1.0
2021-02-05,1.00,0.458807,0.121565,0.626113,0.000000,0.605552,0.090909,1.0
2021-02-08,0.00,0.458807,0.054122,0.394659,0.660920,0.594577,0.090909,1.0
2021-02-09,0.25,0.458807,0.059117,0.421365,0.519157,0.581666,0.090909,1.0
2021-02-10,0.50,0.458807,0.388010,0.275964,0.000000,0.579729,0.090909,1.0
2021-02-15,0.00,0.458807,0.129059,0.267062,0.761494,0.537121,0.090909,1.0
2021-02-16,0.25,0.458807,0.039134,0.397626,0.780651,0.601679,0.090909,1.0
2021-02-17,0.50,0.458807,0.044963,0.415430,0.002874,0.603615,0.090909,1.0
2021-02-18,0.75,0.458807,0.049958,0.611276,0.568966,0.608780,0.090909,1.0
2021-02-19,1.00,0.458807,0.127394,0.673591,0.000958,0.588767,0.090909,1.0
2021-02-22,0.00,0.458807,0.068276,0.462908,0.779693,0.520981,0.090909,1.0
2021-02-23,0.25,0.458807,0.043297,0.471810,0.750000,0.300839,0.090909,1.0
2021-02-24,0.50,0.458807,0.044963,0.575668,0.002874,0.608780,0.090909,1.0
2021-02-25,0.75,0.458807,0.056619,0.626113,0.560345,0.624274,0.090909,1.0
2021-02-26,1.00,0.458807,0.198168,0.706231,0.000958,0.595223,0.090909,1.0
2021-03-02,0.25,0.531250,0.096586,0.370920,0.748084,0.650097,0.181818,1.0
2021-03-03,0.50,0.531250,0.022481,0.456973,0.000958,0.641059,0.181818,1.0
2021-03-04,0.75,0.531250,0.040799,0.578635,0.714559,0.635249,0.181818,1.0
2021-03-05,1.00,0.531250,0.112406,0.640950,0.001916,0.614590,0.181818,1.0
2021-03-08,0.00,0.531250,0.061615,0.382789,0.899425,0.561007,0.181818,1.0
2021-03-09,0.25,0.531250,0.044130,0.382789,0.960728,0.650742,0.181818,1.0
2021-03-10,0.50,0.531250,0.039967,0.427300,0.000958,0.634603,0.181818,1.0
2021-03-11,0.75,0.531250,0.058285,0.540059,0.583333,0.638476,0.181818,1.0
2021-03-12,1.00,0.531250,0.181515,0.590504,0.000000,0.618464,0.181818,1.0
2021-03-15,0.00,0.531250,0.085762,0.317507,0.827586,0.553260,0.181818,1.0
2021-03-16,0.25,0.531250,0.042465,0.400593,0.630268,0.633957,0.181818,1.0
2021-03-17,0.50,0.531250,0.055787,0.448071,0.003831,0.647515,0.181818,1.0
2021-03-18,0.75,0.531250,0.069109,0.563798,0.498084,0.628793,0.181818,1.0
2021-03-19,1.00,0.531250,0.191507,0.635015,0.000000,0.612008,0.181818,1.0
2021-03-22,0.00,0.531250,0.091590,0.370920,0.677203,0.567463,0.181818,1.0
2021-03-23,0.25,0.531250,0.049126,0.486647,0.659004,0.631375,0.181818,1.0
2021-03-24,0.50,0.531250,0.053289,0.572700,0.000000,0.616527,0.181818,1.0
2021-03-25,0.75,0.531250,0.079101,0.649852,0.422414,0.628793,0.181818,1.0
2021-03-26,1.00,0.531250,0.239800,0.667656,0.000000,0.624919,0.181818,1.0
2021-03-29,0.00,0.531250,0.081599,0.406528,0.632184,0.590058,0.181818,1.0
2021-03-30,0.25,0.531250,0.049958,0.465875,0.598659,0.637831,0.181818,1.0
2021-03-31,0.50,0.531250,0.052456,0.522255,0.000000,0.644287,0.181818,1.0
2021-04-01,0.75,0.528409,0.054122,0.637982,0.377395,0.635894,0.272727,1.0
2021-04-02,1.00,0.528409,0.209825,0.685460,0.000000,0.623628,0.272727,1.0
2021-04-05,0.00,0.528409,0.084929,0.394659,0.674330,0.581666,0.272727,1.0
2021-04-06,0.25,0.528409,0.044130,0.382789,0.609195,0.636540,0.272727,1.0
2021-04-07,0.50,0.528409,0.060783,0.513353,0.000958,0.626210,0.272727,1.0
2021-04-08,0.75,0.528409,0.068276,0.584570,0.487548,0.589413,0.272727,1.0
2021-04-09,1.00,0.528409,0.196503,0.673591,0.000000,0.554551,0.272727,1.0

In [22]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
layer1_pred = voting.predict(X_test)
sample['석식계'] = layer1_pred

In [23]:
sample

            일자          중식계         석식계
0   2021-01-27  1014.185975  387.514720
1   2021-01-28   921.108744  392.075767
2   2021-01-29   612.982036  291.552848
3   2021-02-01  1204.357750  532.405499
4   2021-02-02   967.206057  428.304486
5   2021-02-03   946.698836  409.318064
6   2021-02-04   894.097187  443.349470
7   2021-02-05   655.809704  360.925782
8   2021-02-08  1221.382024  620.696388
9   2021-02-09  1023.654208  513.915398
10  2021-02-10   791.056214  293.178354
11  2021-02-15  1210.590651  713.234521
12  2021-02-16  1085.475920  670.352376
13  2021-02-17  1038.126351  432.489982
14  2021-02-18   858.790448  529.670203
15  2021-02-19   634.307737  360.197641
16  2021-02-22  1192.990428  678.066397
17  2021-02-23   999.658926  618.622028
18  2021-02-24   884.159062  374.850369
19  2021-02-25   848.668076  519.712675
20  2021-02-26   596.233445  307.103351
21  2021-03-02  1074.050925  671.340294
22  2021-03-03   999.080285  446.065590
23  2021-03-04   915.751118  544.373286
24  2021-03-05   650.123215  358.852646
25  2021-03-08  1261.690316  696.550056
26  2021-03-09  1146.444420  685.819086
27  2021-03-10  1030.291069  443.649229
28  2021-03-11   921.110686  537.782197
29  2021-03-12   673.330246  304.669533
30  2021-03-15  1230.065749  703.289880
31  2021-03-16  1021.109574  578.907455
32  2021-03-17  1045.448132  438.300674
33  2021-03-18   899.563402  463.710662
34  2021-03-19   636.724096  295.338307
35  2021-03-22  1215.946911  616.730223
36  2021-03-23   992.766615  579.850091
37  2021-03-24   893.851007  375.681361
38  2021-03-25   826.661766  407.060146
39  2021-03-26   613.307583  291.885482
40  2021-03-29  1200.959143  607.911964
41  2021-03-30  1013.748481  570.591752
42  2021-03-31   945.639258  408.714197
43  2021-04-01   792.487503  406.847631
44  2021-04-02   606.440904  289.016081
45  2021-04-05  1177.397346  583.687195
46  2021-04-06   990.752557  546.757654
47  2021-04-07   954.363217  403.492039
48  2021-04-08   844.862396  442.260726
49  2021-04-09   608.314109  280.143316

In [24]:
sample.to_csv('sub/Model_Cat_{}.csv'.format(today), index=False)