In [1]:
# for "2. Data Loading"
import pandas as pd

# for "3-1. Feature Generation"
import numpy as np

# for "3-2. Feature Engineering"
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import RobustScaler, StandardScaler

# for "4. Modeling with Pycaret"
from pycaret.regression import *

# for "5. Modeling with CatBoostRegressor"
from catboost import CatBoostRegressor
import optuna
from optuna import Trial
from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

### 1121
추가 사항 석식계 예측에 자기계발 열을 제거하여 학습 진행

In [2]:
# 데이터 로드
pre_tr = pd.read_csv('data_preprocess/pre_tr_1118.csv',encoding = "cp949")
pre_te = pd.read_csv('data_preprocess/pre_te_1118.csv',encoding = "cp949")
pre_tr = pre_tr.set_index("일자")
pre_te = pre_te.set_index("일자")
today = "1121_1"

In [3]:
# 데이터 확인
pre_tr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 2016-02-01 to 2021-01-26
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일      1205 non-null   int64
 1   정원수     1205 non-null   int64
 2   휴가자수    1205 non-null   int64
 3   출장자수    1205 non-null   int64
 4   야근자수    1205 non-null   int64
 5   재택근무자수  1205 non-null   float64
 6   조식메뉴    1205 non-null   object
 7   중식메뉴    1205 non-null   object
 8   석식메뉴    1205 non-null   object
 9   중식계     1205 non-null   float64
 10  석식계     1205 non-null   float64
 11  출근자수    1205 non-null   float64
 12  월       1205 non-null   int64
 13  년도      1205 non-null   int64
dtypes: float64(4), int64(7), object(3)
memory usage: 141.2+ KB

조식메뉴, 중식메뉴, 석식메뉴 다 없어도 될거 같은데,,,?
일자도 일단 제외하고 진행

In [4]:
#중식 타겟 데이터
y_lun = pre_tr["중식계"]
# 석식 타겟 데이터
y_din = pre_tr["석식계"]

## 중식계 예측

In [5]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train["중식계"] = pre_tr["중식계"]
display(X_train)

            요일   정원수  휴가자수  출장자수  야근자수  재택근무자수    출근자수  월    년도     중식계
일자
2016-02-01   1  2601    50   150   238     0.0  2401.0  2  2016  1039.0
2016-02-02   2  2601    50   173   319     0.0  2378.0  2  2016   867.0
2016-02-03   3  2601    56   180   111     0.0  2365.0  2  2016  1017.0
2016-02-04   4  2601   104   220   355     0.0  2277.0  2  2016   978.0
2016-02-05   5  2601   278   181    34     0.0  2142.0  2  2016   925.0
...         ..   ...   ...   ...   ...     ...     ... ..   ...     ...
2021-01-20   3  2983    75   198     4   391.0  2319.0  1  2021  1093.0
2021-01-21   4  2983    92   231   462   351.0  2309.0  1  2021   832.0
2021-01-22   5  2983   255   248     1   303.0  2177.0  1  2021   579.0
2021-01-25   1  2983   107   153   616   327.0  2396.0  1  2021  1145.0
2021-01-26   2  2983    69   183   551   362.0  2369.0  1  2021  1015.0

[1205 rows x 10 columns]

In [6]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '중식계', # 목표 변수는 중식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['중식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [7]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [8]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [9]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
display(X_test)

            요일   정원수  휴가자수  출장자수  야근자수  재택근무자수    출근자수  월    년도
일자
2021-01-27   3  2983    88   182     5   358.0  2401.0  1  2021
2021-01-28   4  2983   104   212   409   348.0  2378.0  1  2021
2021-01-29   5  2983   270   249     0   294.0  2365.0  1  2021
2021-02-01   1  2924   108   154   538   322.0  2277.0  2  2021
2021-02-02   2  2924    62   186   455   314.0  2142.0  2  2021
2021-02-03   3  2924    59   199     5   286.0  2075.0  2  2021
2021-02-04   4  2924    61   211   476   288.0  2056.0  2  2021
2021-02-05   5  2924   169   252     0   256.0  2310.0  2  2021
2021-02-08   1  2924    88   174   690   329.0  2293.0  2  2021
2021-02-09   2  2924    94   183   542   329.0  2273.0  2  2021
2021-02-10   3  2924   489   134     0   233.0  2270.0  2  2021
2021-02-15   1  2924   178   131   795   355.0  2204.0  2  2021
2021-02-16   2  2924    70   175   815   413.0  2304.0  2  2021
2021-02-17   3  2924    77   181     3   379.0  2307.0  2  2021
2021-02-18   4  2924    83   247   594   338.0  2315.0  2  2021
2021-02-19   5  2924   176   268     1   280.0  2284.0  2  2021
2021-02-22   1  2924   105   197   814   247.0  2179.0  2  2021
2021-02-23   2  2924    75   200   783   233.0  1838.0  2  2021
2021-02-24   3  2924    77   235     3   234.0  2315.0  2  2021
2021-02-25   4  2924    91   252   585   235.0  2339.0  2  2021
2021-02-26   5  2924   261   279     1   179.0  2294.0  2  2021
2021-03-02   2  2975   139   166   781   248.0  2379.0  3  2021
2021-03-03   3  2975    50   195     1   292.0  2365.0  3  2021
2021-03-04   4  2975    72   236   746   263.0  2356.0  3  2021
2021-03-05   5  2975   158   257     2   226.0  2324.0  3  2021
2021-03-08   1  2975    97   170   939   264.0  2241.0  3  2021
2021-03-09   2  2975    76   170  1003   282.0  2380.0  3  2021
2021-03-10   3  2975    71   185     1   271.0  2355.0  3  2021
2021-03-11   4  2975    93   223   609   261.0  2361.0  3  2021
2021-03-12   5  2975   241   240     0   251.0  2330.0  3  2021
2021-03-15   1  2975   126   148   864   314.0  2229.0  3  2021
2021-03-16   2  2975    74   176   658   401.0  2354.0  3  2021
2021-03-17   3  2975    90   192     4   371.0  2375.0  3  2021
2021-03-18   4  2975   106   231   520   351.0  2346.0  3  2021
2021-03-19   5  2975   253   255     0   266.0  2320.0  3  2021
2021-03-22   1  2975   133   166   707   350.0  2251.0  3  2021
2021-03-23   2  2975    82   205   688   349.0  2350.0  3  2021
2021-03-24   3  2975    87   234     0   314.0  2327.0  3  2021
2021-03-25   4  2975   118   260   441   297.0  2346.0  3  2021
2021-03-26   5  2975   311   266     0   229.0  2340.0  3  2021
2021-03-29   1  2975   121   178   660   318.0  2286.0  3  2021
2021-03-30   2  2975    83   198   625   313.0  2360.0  3  2021
2021-03-31   3  2975    86   217     0   317.0  2370.0  3  2021
2021-04-01   4  2973    88   256   394   303.0  2357.0  4  2021
2021-04-02   5  2973   275   272     0   224.0  2338.0  4  2021
2021-04-05   1  2973   125   174   704   331.0  2273.0  4  2021
2021-04-06   2  2973    76   170   636   364.0  2358.0  4  2021
2021-04-07   3  2973    96   214     1   334.0  2342.0  4  2021
2021-04-08   4  2973   105   238   509   324.0  2285.0  4  2021
2021-04-09   5  2973   259   268     0   229.0  2231.0  4  2021

In [10]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
sample = pd.read_csv('sub/sample_submission.csv', encoding = "cp949")
layer1_pred = voting.predict(X_test)
sample['중식계'] = layer1_pred

## 석식계 예측

In [11]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train["석식계"] = pre_tr["석식계"]
display(X_train)

            요일   정원수  휴가자수  출장자수  야근자수  재택근무자수    출근자수  월    년도    석식계
일자
2016-02-01   1  2601    50   150   238     0.0  2401.0  2  2016  331.0
2016-02-02   2  2601    50   173   319     0.0  2378.0  2  2016  560.0
2016-02-03   3  2601    56   180   111     0.0  2365.0  2  2016  573.0
2016-02-04   4  2601   104   220   355     0.0  2277.0  2  2016  525.0
2016-02-05   5  2601   278   181    34     0.0  2142.0  2  2016  330.0
...         ..   ...   ...   ...   ...     ...     ... ..   ...    ...
2021-01-20   3  2983    75   198     4   391.0  2319.0  1  2021  421.0
2021-01-21   4  2983    92   231   462   351.0  2309.0  1  2021  353.0
2021-01-22   5  2983   255   248     1   303.0  2177.0  1  2021  217.0
2021-01-25   1  2983   107   153   616   327.0  2396.0  1  2021  502.0
2021-01-26   2  2983    69   183   551   362.0  2369.0  1  2021  480.0

[1205 rows x 10 columns]

In [12]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
day_of_dinner0 = X_train.loc[X_train["석식계"] == 0]
display(day_of_dinner0)

            요일   정원수  휴가자수  출장자수  야근자수  재택근무자수    출근자수   월    년도  석식계
일자
2016-11-30   3  2689    68   207     0     0.0  2414.0  11  2016  0.0
2016-12-28   3  2705   166   225     0     0.0  2314.0  12  2016  0.0
2017-01-25   3  2697    79   203     0     0.0  2415.0   1  2017  0.0
2017-02-22   3  2632    75   252     0     0.0  2305.0   2  2017  0.0
2017-03-22   3  2627    53   235     0     0.0  2339.0   3  2017  0.0
2017-04-26   3  2626    45   304     0     0.0  2277.0   4  2017  0.0
2017-05-31   3  2637    43   265     0     0.0  2329.0   5  2017  0.0
2017-06-28   3  2648    58   259     0     0.0  2331.0   6  2017  0.0
2017-07-26   3  2839   254   246     0     0.0  2339.0   7  2017  0.0
2017-09-01   5  2642   177   303    45     0.0  2162.0   9  2017  0.0
2017-09-27   3  2642    70   265     0     0.0  2307.0   9  2017  0.0
2017-09-29   5  2642   214   248    22     0.0  2180.0   9  2017  0.0
2017-10-25   3  2645    75   289     0     0.0  2281.0  10  2017  0.0
2017-11-29   3  2644    78   261     0     0.0  2305.0  11  2017  0.0
2017-12-27   3  2665   169   255     0     0.0  2241.0  12  2017  0.0
2018-01-31   3  2655    56   223     0     0.0  2376.0   1  2018  0.0
2018-02-14   3  2707   418   159     0     0.0  2130.0   2  2018  0.0
2018-02-28   3  2707   134   278     0     0.0  2295.0   2  2018  0.0
2018-03-28   3  2714    45   252     0     0.0  2417.0   3  2018  0.0
2018-04-25   3  2714    66   285     0     0.0  2363.0   4  2018  0.0
2018-05-30   3  2721    80   281     0     0.0  2360.0   5  2018  0.0
2018-06-27   3  2728    66   277     0     0.0  2385.0   6  2018  0.0
2018-07-25   3  2704   226   256     1     0.0  2222.0   7  2018  0.0
2018-08-29   3  2996   103   258     0     0.0  2635.0   8  2018  0.0
2018-09-19   3  2763    77   288     0     0.0  2398.0   9  2018  0.0
2018-10-31   3  2805   111   306     0     0.0  2388.0  10  2018  0.0
2018-11-28   3  2815    69   298     1     0.0  2448.0  11  2018  0.0
2018-12-26   3  2846   184   241     0     0.0  2421.0  12  2018  0.0
2019-01-30   3  2985    66   226     1     0.0  2693.0   1  2019  0.0
2019-02-27   3  2806   100   274     0     0.0  2432.0   2  2019  0.0
2019-03-27   3  2836    92   259     0     0.0  2485.0   3  2019  0.0
2019-04-24   3  2822    59   273     0     0.0  2490.0   4  2019  0.0
2019-05-29   3  2825    50   237     0     0.0  2538.0   5  2019  0.0
2019-06-26   3  2758    69   282     0     0.0  2407.0   6  2019  0.0
2019-07-31   3  2760   495   231     0     0.0  2034.0   7  2019  0.0
2019-08-28   3  3305   123   274     0     0.0  2908.0   8  2019  0.0
2019-09-25   3  3111    60   285     1     0.0  2766.0   9  2019  0.0
2019-10-30   3  3121   122   294     1     0.0  2705.0  10  2019  0.0
2019-11-27   3  3104   134   288     1     0.0  2682.0  11  2019  0.0
2019-12-31   2  3111   709   149    22     0.0  2253.0  12  2019  0.0
2020-01-29   3  2821   101   214     4     0.0  2506.0   1  2020  0.0
2020-02-26   3  2872   109   190     4     0.0  2573.0   2  2020  0.0
2020-11-25   3  3021   206   191     3   387.0  2237.0  11  2020  0.0

In [13]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
X_train = X_train.drop(day_of_dinner0.index,axis=0)
display(X_train)

            요일   정원수  휴가자수  출장자수  야근자수  재택근무자수    출근자수  월    년도    석식계
일자
2016-02-01   1  2601    50   150   238     0.0  2401.0  2  2016  331.0
2016-02-02   2  2601    50   173   319     0.0  2378.0  2  2016  560.0
2016-02-03   3  2601    56   180   111     0.0  2365.0  2  2016  573.0
2016-02-04   4  2601   104   220   355     0.0  2277.0  2  2016  525.0
2016-02-05   5  2601   278   181    34     0.0  2142.0  2  2016  330.0
...         ..   ...   ...   ...   ...     ...     ... ..   ...    ...
2021-01-20   3  2983    75   198     4   391.0  2319.0  1  2021  421.0
2021-01-21   4  2983    92   231   462   351.0  2309.0  1  2021  353.0
2021-01-22   5  2983   255   248     1   303.0  2177.0  1  2021  217.0
2021-01-25   1  2983   107   153   616   327.0  2396.0  1  2021  502.0
2021-01-26   2  2983    69   183   551   362.0  2369.0  1  2021  480.0

[1162 rows x 10 columns]

In [14]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '석식계', # 목표 변수는 석식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['석식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [15]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [16]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [17]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
display(X_test)

            요일   정원수  휴가자수  출장자수  야근자수  재택근무자수    출근자수  월    년도
일자
2021-01-27   3  2983    88   182     5   358.0  2401.0  1  2021
2021-01-28   4  2983   104   212   409   348.0  2378.0  1  2021
2021-01-29   5  2983   270   249     0   294.0  2365.0  1  2021
2021-02-01   1  2924   108   154   538   322.0  2277.0  2  2021
2021-02-02   2  2924    62   186   455   314.0  2142.0  2  2021
2021-02-03   3  2924    59   199     5   286.0  2075.0  2  2021
2021-02-04   4  2924    61   211   476   288.0  2056.0  2  2021
2021-02-05   5  2924   169   252     0   256.0  2310.0  2  2021
2021-02-08   1  2924    88   174   690   329.0  2293.0  2  2021
2021-02-09   2  2924    94   183   542   329.0  2273.0  2  2021
2021-02-10   3  2924   489   134     0   233.0  2270.0  2  2021
2021-02-15   1  2924   178   131   795   355.0  2204.0  2  2021
2021-02-16   2  2924    70   175   815   413.0  2304.0  2  2021
2021-02-17   3  2924    77   181     3   379.0  2307.0  2  2021
2021-02-18   4  2924    83   247   594   338.0  2315.0  2  2021
2021-02-19   5  2924   176   268     1   280.0  2284.0  2  2021
2021-02-22   1  2924   105   197   814   247.0  2179.0  2  2021
2021-02-23   2  2924    75   200   783   233.0  1838.0  2  2021
2021-02-24   3  2924    77   235     3   234.0  2315.0  2  2021
2021-02-25   4  2924    91   252   585   235.0  2339.0  2  2021
2021-02-26   5  2924   261   279     1   179.0  2294.0  2  2021
2021-03-02   2  2975   139   166   781   248.0  2379.0  3  2021
2021-03-03   3  2975    50   195     1   292.0  2365.0  3  2021
2021-03-04   4  2975    72   236   746   263.0  2356.0  3  2021
2021-03-05   5  2975   158   257     2   226.0  2324.0  3  2021
2021-03-08   1  2975    97   170   939   264.0  2241.0  3  2021
2021-03-09   2  2975    76   170  1003   282.0  2380.0  3  2021
2021-03-10   3  2975    71   185     1   271.0  2355.0  3  2021
2021-03-11   4  2975    93   223   609   261.0  2361.0  3  2021
2021-03-12   5  2975   241   240     0   251.0  2330.0  3  2021
2021-03-15   1  2975   126   148   864   314.0  2229.0  3  2021
2021-03-16   2  2975    74   176   658   401.0  2354.0  3  2021
2021-03-17   3  2975    90   192     4   371.0  2375.0  3  2021
2021-03-18   4  2975   106   231   520   351.0  2346.0  3  2021
2021-03-19   5  2975   253   255     0   266.0  2320.0  3  2021
2021-03-22   1  2975   133   166   707   350.0  2251.0  3  2021
2021-03-23   2  2975    82   205   688   349.0  2350.0  3  2021
2021-03-24   3  2975    87   234     0   314.0  2327.0  3  2021
2021-03-25   4  2975   118   260   441   297.0  2346.0  3  2021
2021-03-26   5  2975   311   266     0   229.0  2340.0  3  2021
2021-03-29   1  2975   121   178   660   318.0  2286.0  3  2021
2021-03-30   2  2975    83   198   625   313.0  2360.0  3  2021
2021-03-31   3  2975    86   217     0   317.0  2370.0  3  2021
2021-04-01   4  2973    88   256   394   303.0  2357.0  4  2021
2021-04-02   5  2973   275   272     0   224.0  2338.0  4  2021
2021-04-05   1  2973   125   174   704   331.0  2273.0  4  2021
2021-04-06   2  2973    76   170   636   364.0  2358.0  4  2021
2021-04-07   3  2973    96   214     1   334.0  2342.0  4  2021
2021-04-08   4  2973   105   238   509   324.0  2285.0  4  2021
2021-04-09   5  2973   259   268     0   229.0  2231.0  4  2021

In [18]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
layer1_pred = voting.predict(X_test)
sample['석식계'] = layer1_pred

In [19]:
sample

            일자          중식계         석식계
0   2021-01-27  1015.248763  383.431533
1   2021-01-28   935.156816  396.384741
2   2021-01-29   627.762992  280.762065
3   2021-02-01  1197.140135  548.302926
4   2021-02-02   965.302636  457.910859
5   2021-02-03   922.009973  395.864416
6   2021-02-04   892.967347  450.565957
7   2021-02-05   657.765397  351.613373
8   2021-02-08  1233.564635  632.984212
9   2021-02-09  1023.760430  534.007242
10  2021-02-10   790.227156  293.141009
11  2021-02-15  1208.485330  696.072662
12  2021-02-16  1079.233610  648.558918
13  2021-02-17  1035.966688  430.633888
14  2021-02-18   860.841850  520.269735
15  2021-02-19   641.574040  348.062554
16  2021-02-22  1176.586743  658.016532
17  2021-02-23   975.289973  610.141363
18  2021-02-24   861.419198  372.842413
19  2021-02-25   827.315796  504.158745
20  2021-02-26   589.124668  292.346235
21  2021-03-02  1065.139401  650.519050
22  2021-03-03   995.391294  434.696533
23  2021-03-04   906.806888  527.386969
24  2021-03-05   635.089529  344.640475
25  2021-03-08  1228.340380  677.071913
26  2021-03-09  1112.270884  666.301364
27  2021-03-10  1020.500485  424.838305
28  2021-03-11   910.121012  518.129238
29  2021-03-12   667.737815  300.869894
30  2021-03-15  1223.140627  685.128555
31  2021-03-16  1032.143732  566.046050
32  2021-03-17  1037.975009  433.358147
33  2021-03-18   902.802568  459.627863
34  2021-03-19   635.783845  296.082213
35  2021-03-22  1211.752695  628.579193
36  2021-03-23  1001.716640  572.804355
37  2021-03-24   897.114633  379.984015
38  2021-03-25   834.821221  417.855361
39  2021-03-26   612.048635  285.662389
40  2021-03-29  1198.650357  612.933223
41  2021-03-30  1020.257738  563.540385
42  2021-03-31   951.407578  400.814222
43  2021-04-01   809.456565  408.746347
44  2021-04-02   607.417919  273.696464
45  2021-04-05  1183.119067  599.110708
46  2021-04-06  1010.645447  561.504588
47  2021-04-07   959.283816  388.157271
48  2021-04-08   864.658007  435.399294
49  2021-04-09   602.590965  272.810214

In [20]:
sample.to_csv('sub/Model_Cat_{}.csv'.format(today), index=False)