In [1]:
# for "2. Data Loading"
import pandas as pd

# for "3-1. Feature Generation"
import numpy as np

# for "3-2. Feature Engineering"
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import RobustScaler, StandardScaler

# for "4. Modeling with Pycaret"
from pycaret.regression import *

# for "5. Modeling with CatBoostRegressor"
from catboost import CatBoostRegressor
import optuna
from optuna import Trial
from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

### 1121
추가 사항 석식계 예측에 자기계발 열을 제거하여 학습 진행

### 1122
추가 사항 독립변수 스케일링 진행

In [2]:
# 데이터 로드
pre_tr = pd.read_csv('data_preprocess/pre_tr_1118.csv',encoding = "cp949")
pre_te = pd.read_csv('data_preprocess/pre_te_1118.csv',encoding = "cp949")
pre_tr = pre_tr.set_index("일자")
pre_te = pre_te.set_index("일자")
today = "1122_1"

In [3]:
# 데이터 확인
pre_tr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 2016-02-01 to 2021-01-26
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일      1205 non-null   int64
 1   정원수     1205 non-null   int64
 2   휴가자수    1205 non-null   int64
 3   출장자수    1205 non-null   int64
 4   야근자수    1205 non-null   int64
 5   재택근무자수  1205 non-null   float64
 6   조식메뉴    1205 non-null   object
 7   중식메뉴    1205 non-null   object
 8   석식메뉴    1205 non-null   object
 9   중식계     1205 non-null   float64
 10  석식계     1205 non-null   float64
 11  출근자수    1205 non-null   float64
 12  월       1205 non-null   int64
 13  년도      1205 non-null   int64
dtypes: float64(4), int64(7), object(3)
memory usage: 141.2+ KB

조식메뉴, 중식메뉴, 석식메뉴 다 없어도 될거 같은데,,,?
일자도 일단 제외하고 진행

In [4]:
#중식 타겟 데이터
y_lun = pre_tr["중식계"]
# 석식 타겟 데이터
y_din = pre_tr["석식계"]

## 중식계 예측

In [5]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)

In [6]:
# minmax scale 활용
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
col_na = X_train.loc[:, "정원수":"출근자수"].columns
col_na
X_train.loc[:, "정원수":"출근자수"] = minmax.fit_transform(
    X_train[col_na])

In [7]:
X_train["중식계"] = pre_tr["중식계"]
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,재택근무자수,출근자수,월,년도,중식계
일자,,,,,,,,,,
2016-02-01,1,0.000000,0.022481,0.323442,0.227969,0.000000,0.664300,2,2016,1039.0
2016-02-02,2,0.000000,0.022481,0.391691,0.305556,0.000000,0.649451,2,2016,867.0
2016-02-03,3,0.000000,0.027477,0.412463,0.106322,0.000000,0.641059,2,2016,1017.0
2016-02-04,4,0.000000,0.067444,0.531157,0.340038,0.000000,0.584248,2,2016,978.0
2016-02-05,5,0.000000,0.212323,0.415430,0.032567,0.000000,0.497095,2,2016,925.0
...,...,...,...,...,...,...,...,...,...,...
2021-01-20,3,0.542614,0.043297,0.465875,0.003831,0.733583,0.611362,1,2021,1093.0
2021-01-21,4,0.542614,0.057452,0.563798,0.442529,0.658537,0.604906,1,2021,832.0
2021-01-22,5,0.542614,0.193172,0.614243,0.000958,0.568480,0.519690,1,2021,579.0
2021-01-25,1,0.542614,0.069942,0.332344,0.590038,0.613508,0.661072,1,2021,1145.0
2021-01-26,2,0.542614,0.038301,0.421365,0.527778,0.679174,0.643641,1,2021,1015.0

In [8]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '중식계', # 목표 변수는 중식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['중식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [9]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [10]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [11]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
X_test.loc[:, "정원수":"출근자수"] = minmax.transform(
    X_test[col_na])
display(X_test)

,요일,정원수,휴가자수,출장자수,야근자수,재택근무자수,출근자수,월,년도
일자,,,,,,,,,
2021-01-27,3,0.542614,0.054122,0.418398,0.004789,0.671670,0.664300,1,2021
2021-01-28,4,0.542614,0.067444,0.507418,0.391762,0.652908,0.649451,1,2021
2021-01-29,5,0.542614,0.205662,0.617211,0.000000,0.551595,0.641059,1,2021
2021-02-01,1,0.458807,0.070774,0.335312,0.515326,0.604128,0.584248,2,2021
2021-02-02,2,0.458807,0.032473,0.430267,0.435824,0.589118,0.497095,2,2021
2021-02-03,3,0.458807,0.029975,0.468843,0.004789,0.536585,0.453841,2,2021
2021-02-04,4,0.458807,0.031640,0.504451,0.455939,0.540338,0.441575,2,2021
2021-02-05,5,0.458807,0.121565,0.626113,0.000000,0.480300,0.605552,2,2021
2021-02-08,1,0.458807,0.054122,0.394659,0.660920,0.617261,0.594577,2,2021
2021-02-09,2,0.458807,0.059117,0.421365,0.519157,0.617261,0.581666,2,2021
2021-02-10,3,0.458807,0.388010,0.275964,0.000000,0.437148,0.579729,2,2021
2021-02-15,1,0.458807,0.129059,0.267062,0.761494,0.666041,0.537121,2,2021
2021-02-16,2,0.458807,0.039134,0.397626,0.780651,0.774859,0.601679,2,2021
2021-02-17,3,0.458807,0.044963,0.415430,0.002874,0.711069,0.603615,2,2021
2021-02-18,4,0.458807,0.049958,0.611276,0.568966,0.634146,0.608780,2,2021
2021-02-19,5,0.458807,0.127394,0.673591,0.000958,0.525328,0.588767,2,2021
2021-02-22,1,0.458807,0.068276,0.462908,0.779693,0.463415,0.520981,2,2021
2021-02-23,2,0.458807,0.043297,0.471810,0.750000,0.437148,0.300839,2,2021
2021-02-24,3,0.458807,0.044963,0.575668,0.002874,0.439024,0.608780,2,2021
2021-02-25,4,0.458807,0.056619,0.626113,0.560345,0.440901,0.624274,2,2021
2021-02-26,5,0.458807,0.198168,0.706231,0.000958,0.335835,0.595223,2,2021
2021-03-02,2,0.531250,0.096586,0.370920,0.748084,0.465291,0.650097,3,2021
2021-03-03,3,0.531250,0.022481,0.456973,0.000958,0.547842,0.641059,3,2021
2021-03-04,4,0.531250,0.040799,0.578635,0.714559,0.493433,0.635249,3,2021
2021-03-05,5,0.531250,0.112406,0.640950,0.001916,0.424015,0.614590,3,2021
2021-03-08,1,0.531250,0.061615,0.382789,0.899425,0.495310,0.561007,3,2021
2021-03-09,2,0.531250,0.044130,0.382789,0.960728,0.529081,0.650742,3,2021
2021-03-10,3,0.531250,0.039967,0.427300,0.000958,0.508443,0.634603,3,2021
2021-03-11,4,0.531250,0.058285,0.540059,0.583333,0.489681,0.638476,3,2021
2021-03-12,5,0.531250,0.181515,0.590504,0.000000,0.470919,0.618464,3,2021
2021-03-15,1,0.531250,0.085762,0.317507,0.827586,0.589118,0.553260,3,2021
2021-03-16,2,0.531250,0.042465,0.400593,0.630268,0.752345,0.633957,3,2021
2021-03-17,3,0.531250,0.055787,0.448071,0.003831,0.696060,0.647515,3,2021
2021-03-18,4,0.531250,0.069109,0.563798,0.498084,0.658537,0.628793,3,2021
2021-03-19,5,0.531250,0.191507,0.635015,0.000000,0.499062,0.612008,3,2021
2021-03-22,1,0.531250,0.091590,0.370920,0.677203,0.656660,0.567463,3,2021
2021-03-23,2,0.531250,0.049126,0.486647,0.659004,0.654784,0.631375,3,2021
2021-03-24,3,0.531250,0.053289,0.572700,0.000000,0.589118,0.616527,3,2021
2021-03-25,4,0.531250,0.079101,0.649852,0.422414,0.557223,0.628793,3,2021
2021-03-26,5,0.531250,0.239800,0.667656,0.000000,0.429644,0.624919,3,2021
2021-03-29,1,0.531250,0.081599,0.406528,0.632184,0.596623,0.590058,3,2021
2021-03-30,2,0.531250,0.049958,0.465875,0.598659,0.587242,0.637831,3,2021
2021-03-31,3,0.531250,0.052456,0.522255,0.000000,0.594747,0.644287,3,2021
2021-04-01,4,0.528409,0.054122,0.637982,0.377395,0.568480,0.635894,4,2021
2021-04-02,5,0.528409,0.209825,0.685460,0.000000,0.420263,0.623628,4,2021
2021-04-05,1,0.528409,0.084929,0.394659,0.674330,0.621013,0.581666,4,2021
2021-04-06,2,0.528409,0.044130,0.382789,0.609195,0.682927,0.636540,4,2021
2021-04-07,3,0.528409,0.060783,0.513353,0.000958,0.626642,0.626210,4,2021
2021-04-08,4,0.528409,0.068276,0.584570,0.487548,0.607880,0.589413,4,2021
2021-04-09,5,0.528409,0.196503,0.673591,0.000000,0.429644,0.554551,4,2021

In [12]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
sample = pd.read_csv('sub/sample_submission.csv', encoding = "cp949")
layer1_pred = voting.predict(X_test)
sample['중식계'] = layer1_pred

## 석식계 예측

In [15]:
train_dr = pre_tr.loc[:,"조식메뉴":"석식계"]
X_train = pre_tr.drop(train_dr,axis=1)
X_train.loc[:, "정원수":"출근자수"] = minmax.fit_transform(
    X_train[col_na])
X_train["석식계"] = pre_tr["석식계"]
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,재택근무자수,출근자수,월,년도,석식계
일자,,,,,,,,,,
2016-02-01,1,0.000000,0.022481,0.323442,0.227969,0.000000,0.664300,2,2016,331.0
2016-02-02,2,0.000000,0.022481,0.391691,0.305556,0.000000,0.649451,2,2016,560.0
2016-02-03,3,0.000000,0.027477,0.412463,0.106322,0.000000,0.641059,2,2016,573.0
2016-02-04,4,0.000000,0.067444,0.531157,0.340038,0.000000,0.584248,2,2016,525.0
2016-02-05,5,0.000000,0.212323,0.415430,0.032567,0.000000,0.497095,2,2016,330.0
...,...,...,...,...,...,...,...,...,...,...
2021-01-20,3,0.542614,0.043297,0.465875,0.003831,0.733583,0.611362,1,2021,421.0
2021-01-21,4,0.542614,0.057452,0.563798,0.442529,0.658537,0.604906,1,2021,353.0
2021-01-22,5,0.542614,0.193172,0.614243,0.000958,0.568480,0.519690,1,2021,217.0
2021-01-25,1,0.542614,0.069942,0.332344,0.590038,0.613508,0.661072,1,2021,502.0
2021-01-26,2,0.542614,0.038301,0.421365,0.527778,0.679174,0.643641,1,2021,480.0

In [16]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
day_of_dinner0 = X_train.loc[X_train["석식계"] == 0]
display(day_of_dinner0)

,요일,정원수,휴가자수,출장자수,야근자수,재택근무자수,출근자수,월,년도,석식계
일자,,,,,,,,,,
2016-11-30,3,0.125000,0.037469,0.492582,0.000000,0.000000,0.672692,11,2016,0.0
2016-12-28,3,0.147727,0.119067,0.545994,0.000000,0.000000,0.608134,12,2016,0.0
2017-01-25,3,0.136364,0.046628,0.480712,0.000000,0.000000,0.673338,1,2017,0.0
2017-02-22,3,0.044034,0.043297,0.626113,0.000000,0.000000,0.602324,2,2017,0.0
2017-03-22,3,0.036932,0.024979,0.575668,0.000000,0.000000,0.624274,3,2017,0.0
2017-04-26,3,0.035511,0.018318,0.780415,0.000000,0.000000,0.584248,4,2017,0.0
2017-05-31,3,0.051136,0.016653,0.664688,0.000000,0.000000,0.617818,5,2017,0.0
2017-06-28,3,0.066761,0.029142,0.646884,0.000000,0.000000,0.619109,6,2017,0.0
2017-07-26,3,0.338068,0.192340,0.608309,0.000000,0.000000,0.624274,7,2017,0.0
2017-09-01,5,0.058239,0.128226,0.777448,0.043103,0.000000,0.510006,9,2017,0.0
2017-09-27,3,0.058239,0.039134,0.664688,0.000000,0.000000,0.603615,9,2017,0.0
2017-09-29,5,0.058239,0.159034,0.614243,0.021073,0.000000,0.521627,9,2017,0.0
2017-10-25,3,0.062500,0.043297,0.735905,0.000000,0.000000,0.586830,10,2017,0.0
2017-11-29,3,0.061080,0.045795,0.652819,0.000000,0.000000,0.602324,11,2017,0.0
2017-12-27,3,0.090909,0.121565,0.635015,0.000000,0.000000,0.561007,12,2017,0.0
2018-01-31,3,0.076705,0.027477,0.540059,0.000000,0.000000,0.648160,1,2018,0.0
2018-02-14,3,0.150568,0.328893,0.350148,0.000000,0.000000,0.489348,2,2018,0.0
2018-02-28,3,0.150568,0.092423,0.703264,0.000000,0.000000,0.595868,2,2018,0.0
2018-03-28,3,0.160511,0.018318,0.626113,0.000000,0.000000,0.674629,3,2018,0.0
2018-04-25,3,0.160511,0.035803,0.724036,0.000000,0.000000,0.639768,4,2018,0.0
2018-05-30,3,0.170455,0.047460,0.712166,0.000000,0.000000,0.637831,5,2018,0.0
2018-06-27,3,0.180398,0.035803,0.700297,0.000000,0.000000,0.653970,6,2018,0.0
2018-07-25,3,0.146307,0.169026,0.637982,0.000958,0.000000,0.548741,7,2018,0.0
2018-08-29,3,0.561080,0.066611,0.643917,0.000000,0.000000,0.815365,8,2018,0.0
2018-09-19,3,0.230114,0.044963,0.732938,0.000000,0.000000,0.662363,9,2018,0.0
2018-10-31,3,0.289773,0.073272,0.786350,0.000000,0.000000,0.655907,10,2018,0.0
2018-11-28,3,0.303977,0.038301,0.762611,0.000958,0.000000,0.694642,11,2018,0.0
2018-12-26,3,0.348011,0.134055,0.593472,0.000000,0.000000,0.677211,12,2018,0.0
2019-01-30,3,0.545455,0.035803,0.548961,0.000958,0.000000,0.852808,1,2019,0.0
2019-02-27,3,0.291193,0.064113,0.691395,0.000000,0.000000,0.684312,2,2019,0.0
2019-03-27,3,0.333807,0.057452,0.646884,0.000000,0.000000,0.718528,3,2019,0.0
2019-04-24,3,0.313920,0.029975,0.688427,0.000000,0.000000,0.721756,4,2019,0.0
2019-05-29,3,0.318182,0.022481,0.581602,0.000000,0.000000,0.752744,5,2019,0.0
2019-06-26,3,0.223011,0.038301,0.715134,0.000000,0.000000,0.668173,6,2019,0.0
2019-07-31,3,0.225852,0.393006,0.563798,0.000000,0.000000,0.427372,7,2019,0.0
2019-08-28,3,1.000000,0.083264,0.691395,0.000000,0.000000,0.991607,8,2019,0.0
2019-09-25,3,0.724432,0.030808,0.724036,0.000958,0.000000,0.899935,9,2019,0.0
2019-10-30,3,0.738636,0.082431,0.750742,0.000958,0.000000,0.860555,10,2019,0.0
2019-11-27,3,0.714489,0.092423,0.732938,0.000958,0.000000,0.845707,11,2019,0.0
2019-12-31,2,0.724432,0.571191,0.320475,0.021073,0.000000,0.568754,12,2019,0.0
2020-01-29,3,0.312500,0.064946,0.513353,0.003831,0.000000,0.732085,1,2020,0.0
2020-02-26,3,0.384943,0.071607,0.442136,0.003831,0.000000,0.775339,2,2020,0.0
2020-11-25,3,0.596591,0.152373,0.445104,0.002874,0.726079,0.558425,11,2020,0.0

In [17]:
# 자기계발 날 제거 
# (석식계 0인 이상치가 발견되는 열들 제거 하여 학습 데이터 생성) 
# 총 43개 열 제거
X_train = X_train.drop(day_of_dinner0.index,axis=0)
display(X_train)

,요일,정원수,휴가자수,출장자수,야근자수,재택근무자수,출근자수,월,년도,석식계
일자,,,,,,,,,,
2016-02-01,1,0.000000,0.022481,0.323442,0.227969,0.000000,0.664300,2,2016,331.0
2016-02-02,2,0.000000,0.022481,0.391691,0.305556,0.000000,0.649451,2,2016,560.0
2016-02-03,3,0.000000,0.027477,0.412463,0.106322,0.000000,0.641059,2,2016,573.0
2016-02-04,4,0.000000,0.067444,0.531157,0.340038,0.000000,0.584248,2,2016,525.0
2016-02-05,5,0.000000,0.212323,0.415430,0.032567,0.000000,0.497095,2,2016,330.0
...,...,...,...,...,...,...,...,...,...,...
2021-01-20,3,0.542614,0.043297,0.465875,0.003831,0.733583,0.611362,1,2021,421.0
2021-01-21,4,0.542614,0.057452,0.563798,0.442529,0.658537,0.604906,1,2021,353.0
2021-01-22,5,0.542614,0.193172,0.614243,0.000958,0.568480,0.519690,1,2021,217.0
2021-01-25,1,0.542614,0.069942,0.332344,0.590038,0.613508,0.661072,1,2021,502.0
2021-01-26,2,0.542614,0.038301,0.421365,0.527778,0.679174,0.643641,1,2021,480.0

In [18]:
reg = setup(X_train, 
            preprocess = False, # True로 설정되면, 자체적인 Feature Engineering을 추가로 진행해 Predict가 불가능해진다.
            train_size = 0.999,  # 우리는 전체 데이터를 학습해 test를 예측하는게 목표이기 때문에, 0.999로 설정한다.
            target = '석식계', # 목표 변수는 석식계 이다.
            silent = True, # 엔터를 누르기 귀찮다. 궁금하면 풀어보세요
            use_gpu = False, # GPU가 있으면 사용하세요 (Cat BOost 속도 향상)
            numeric_features=list(X_train.drop(columns = ['석식계']).columns), # 모든 변수가 숫자로써의 의미가 있다.
            session_id = 2021,
            fold_shuffle = True
            )

In [19]:
top5 = compare_models(n_select = 5, sort = 'MAE')

In [20]:
models = []
for m in top5:
    models.append(tune_model(m, 
                             optimize = 'MAE', 
                             choose_better = True,
                            n_iter = 30))

In [21]:
test_dr = pre_te.loc[:,"조식메뉴":"석식메뉴"]
X_test = pre_te.drop(test_dr,axis=1)
X_test.loc[:, "정원수":"출근자수"] = minmax.transform(
    X_test[col_na])
display(X_test)

,요일,정원수,휴가자수,출장자수,야근자수,재택근무자수,출근자수,월,년도
일자,,,,,,,,,
2021-01-27,3,0.542614,0.054122,0.418398,0.004789,0.671670,0.664300,1,2021
2021-01-28,4,0.542614,0.067444,0.507418,0.391762,0.652908,0.649451,1,2021
2021-01-29,5,0.542614,0.205662,0.617211,0.000000,0.551595,0.641059,1,2021
2021-02-01,1,0.458807,0.070774,0.335312,0.515326,0.604128,0.584248,2,2021
2021-02-02,2,0.458807,0.032473,0.430267,0.435824,0.589118,0.497095,2,2021
2021-02-03,3,0.458807,0.029975,0.468843,0.004789,0.536585,0.453841,2,2021
2021-02-04,4,0.458807,0.031640,0.504451,0.455939,0.540338,0.441575,2,2021
2021-02-05,5,0.458807,0.121565,0.626113,0.000000,0.480300,0.605552,2,2021
2021-02-08,1,0.458807,0.054122,0.394659,0.660920,0.617261,0.594577,2,2021
2021-02-09,2,0.458807,0.059117,0.421365,0.519157,0.617261,0.581666,2,2021
2021-02-10,3,0.458807,0.388010,0.275964,0.000000,0.437148,0.579729,2,2021
2021-02-15,1,0.458807,0.129059,0.267062,0.761494,0.666041,0.537121,2,2021
2021-02-16,2,0.458807,0.039134,0.397626,0.780651,0.774859,0.601679,2,2021
2021-02-17,3,0.458807,0.044963,0.415430,0.002874,0.711069,0.603615,2,2021
2021-02-18,4,0.458807,0.049958,0.611276,0.568966,0.634146,0.608780,2,2021
2021-02-19,5,0.458807,0.127394,0.673591,0.000958,0.525328,0.588767,2,2021
2021-02-22,1,0.458807,0.068276,0.462908,0.779693,0.463415,0.520981,2,2021
2021-02-23,2,0.458807,0.043297,0.471810,0.750000,0.437148,0.300839,2,2021
2021-02-24,3,0.458807,0.044963,0.575668,0.002874,0.439024,0.608780,2,2021
2021-02-25,4,0.458807,0.056619,0.626113,0.560345,0.440901,0.624274,2,2021
2021-02-26,5,0.458807,0.198168,0.706231,0.000958,0.335835,0.595223,2,2021
2021-03-02,2,0.531250,0.096586,0.370920,0.748084,0.465291,0.650097,3,2021
2021-03-03,3,0.531250,0.022481,0.456973,0.000958,0.547842,0.641059,3,2021
2021-03-04,4,0.531250,0.040799,0.578635,0.714559,0.493433,0.635249,3,2021
2021-03-05,5,0.531250,0.112406,0.640950,0.001916,0.424015,0.614590,3,2021
2021-03-08,1,0.531250,0.061615,0.382789,0.899425,0.495310,0.561007,3,2021
2021-03-09,2,0.531250,0.044130,0.382789,0.960728,0.529081,0.650742,3,2021
2021-03-10,3,0.531250,0.039967,0.427300,0.000958,0.508443,0.634603,3,2021
2021-03-11,4,0.531250,0.058285,0.540059,0.583333,0.489681,0.638476,3,2021
2021-03-12,5,0.531250,0.181515,0.590504,0.000000,0.470919,0.618464,3,2021
2021-03-15,1,0.531250,0.085762,0.317507,0.827586,0.589118,0.553260,3,2021
2021-03-16,2,0.531250,0.042465,0.400593,0.630268,0.752345,0.633957,3,2021
2021-03-17,3,0.531250,0.055787,0.448071,0.003831,0.696060,0.647515,3,2021
2021-03-18,4,0.531250,0.069109,0.563798,0.498084,0.658537,0.628793,3,2021
2021-03-19,5,0.531250,0.191507,0.635015,0.000000,0.499062,0.612008,3,2021
2021-03-22,1,0.531250,0.091590,0.370920,0.677203,0.656660,0.567463,3,2021
2021-03-23,2,0.531250,0.049126,0.486647,0.659004,0.654784,0.631375,3,2021
2021-03-24,3,0.531250,0.053289,0.572700,0.000000,0.589118,0.616527,3,2021
2021-03-25,4,0.531250,0.079101,0.649852,0.422414,0.557223,0.628793,3,2021
2021-03-26,5,0.531250,0.239800,0.667656,0.000000,0.429644,0.624919,3,2021
2021-03-29,1,0.531250,0.081599,0.406528,0.632184,0.596623,0.590058,3,2021
2021-03-30,2,0.531250,0.049958,0.465875,0.598659,0.587242,0.637831,3,2021
2021-03-31,3,0.531250,0.052456,0.522255,0.000000,0.594747,0.644287,3,2021
2021-04-01,4,0.528409,0.054122,0.637982,0.377395,0.568480,0.635894,4,2021
2021-04-02,5,0.528409,0.209825,0.685460,0.000000,0.420263,0.623628,4,2021
2021-04-05,1,0.528409,0.084929,0.394659,0.674330,0.621013,0.581666,4,2021
2021-04-06,2,0.528409,0.044130,0.382789,0.609195,0.682927,0.636540,4,2021
2021-04-07,3,0.528409,0.060783,0.513353,0.000958,0.626642,0.626210,4,2021
2021-04-08,4,0.528409,0.068276,0.584570,0.487548,0.607880,0.589413,4,2021
2021-04-09,5,0.528409,0.196503,0.673591,0.000000,0.429644,0.554551,4,2021

In [22]:
voting = blend_models(models, optimize = 'MAE')
voting = tune_model(voting, 
                 optimize = 'MAE', 
                 choose_better = True,
                 n_iter = 30)

voting = finalize_model(voting)
layer1_pred = voting.predict(X_test)
sample['석식계'] = layer1_pred

In [23]:
sample

            일자          중식계         석식계
0   2021-01-27  1015.248763  386.006092
1   2021-01-28   935.156816  395.421187
2   2021-01-29   627.762992  279.572845
3   2021-02-01  1197.140135  544.541336
4   2021-02-02   965.302636  453.645632
5   2021-02-03   922.009973  398.152626
6   2021-02-04   892.967347  450.080575
7   2021-02-05   657.765397  352.422853
8   2021-02-08  1233.564635  631.710606
9   2021-02-09  1023.842213  530.654817
10  2021-02-10   790.227156  289.523738
11  2021-02-15  1208.485330  696.953866
12  2021-02-16  1079.233610  647.028127
13  2021-02-17  1035.966688  432.855473
14  2021-02-18   860.841850  520.595541
15  2021-02-19   641.574040  350.171444
16  2021-02-22  1176.586743  658.544681
17  2021-02-23   975.289973  610.022425
18  2021-02-24   861.419198  373.829045
19  2021-02-25   827.315796  503.205950
20  2021-02-26   589.124668  292.997478
21  2021-03-02  1065.139401  654.002881
22  2021-03-03   995.391294  435.628933
23  2021-03-04   906.806888  529.193658
24  2021-03-05   635.089529  346.572790
25  2021-03-08  1228.340380  679.123504
26  2021-03-09  1112.270884  667.280647
27  2021-03-10  1020.500485  426.543312
28  2021-03-11   910.121012  520.955132
29  2021-03-12   667.675432  299.788546
30  2021-03-15  1223.140627  688.175125
31  2021-03-16  1032.143732  564.763262
32  2021-03-17  1038.035093  434.727639
33  2021-03-18   902.802568  460.107268
34  2021-03-19   635.783845  295.351177
35  2021-03-22  1211.752695  630.569818
36  2021-03-23  1001.716640  574.279498
37  2021-03-24   897.114633  381.359552
38  2021-03-25   834.821221  416.321010
39  2021-03-26   612.048635  284.476261
40  2021-03-29  1198.650357  613.318522
41  2021-03-30  1020.257738  564.125044
42  2021-03-31   951.407578  401.510058
43  2021-04-01   809.424753  406.482207
44  2021-04-02   607.417919  273.462983
45  2021-04-05  1183.119067  599.733726
46  2021-04-06  1010.645447  562.066362
47  2021-04-07   959.283816  388.311130
48  2021-04-08   864.658007  436.402184
49  2021-04-09   602.590965  272.841189

In [25]:
sample.to_csv('sub/Model_Cat_{}.csv'.format(today), index=False)